.s-social {

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba($border-color, 0.25);
    transition: border 0.5s $transition-timing--linear;
    border-radius: 40px;
    background-color: transparent;
    color: $text-color--light;

    &:hover,
    &:focus {
      border: 1px solid rgba($border-color, 0.75);
      color: $text-color--light;
    }

    svg {
      display: block;
      fill: currentColor;
    }
  }
}
