mixin social(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-social--' + modsList[i].trim();
      }
    }

  .s-social(class=allMods)&attributes(attributes)
    ul.s-social__list
      li.s-social__item
        a.s-social__link(href='/', rel='noopener', target='_blank')
          +icon('instagram', '16', '16')
      li.s-social__item
        a.s-social__link(href='/', rel='noopener', target='_blank')
          +icon('facebook', '8', '16')
      li.s-social__item
        a.s-social__link(href='/', rel='noopener', target='_blank')
          +icon('youtube', '20', '14')