.s-show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid $border-color;
  padding: 0.75rem 1rem;
  overflow: hidden;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: ms(-1);
  line-height: 1.45em;
  font-weight: 700;
  color: $text-color;
  text-decoration: none;
  z-index: 1;

  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;

    &::before {
      transform: scaleX(1);
      transform-origin: center top;
    }
  }

  @include media-min-sm {
    padding: 1rem 3rem;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transition: transform 0.75s $transition-timing--linear;
    background-color: $primary-color;
    transform-origin: center bottom;
  }
}
