.s-testimonials {

  @include media-min-sm {
    padding: 0 1.5rem;
  }

  &__wrap {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    padding: 4.5rem 0 2.25rem;

    @include media-min-sm {
      padding: 10.5rem 0 3rem;
    }
  }

  &__container {
    @include container;
  }

  &__header {
    padding: 0 1rem;

    @include media-min-sm {
      padding: 0 1.5rem;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.5rem;
    max-width: 600px;

    @include media-min-sm {
      font-size: ms(2);
      line-height: 1.1em;
      margin-bottom: 1.5rem;
    }
  }

  &__feedback {
    background: linear-gradient(135deg, rgba(242, 225, 161, 0.85) 0%, rgba(253, 230, 150, 0.85) 100%);
    border-radius: $border-radius;
    padding: 1.5rem 1rem;
    margin-bottom: 2.25rem;

    @include media-min-sm {
      padding: 3rem 1.5rem;
      margin-bottom: 3.75rem;
    }
  }

  &__feedback-content {
    display: grid;
    gap: 30px;
    grid-template:
      'feedback-info'
      'feedback-form' / 1fr;

    @include media-min-sm {
      gap: 20px;
      grid-template: 'feedback-info . feedback-form' / 5fr 1fr 6fr;
    }
  }

  &__feedback-info {
    grid-area: feedback-info;
  }

  &__feedback-subtitle {
    font-size: ms(-1);
    display: block;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: $primary-color--dark;
    margin-bottom: 0.75rem;
  }

  &__feedback-title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  &__feedback-contact {
    font-size: ms(-1);
    line-height: 1.45em;

    span {
      font-weight: 400;
      opacity: 0.75;
    }

    a {
      color: currentColor;
      text-decoration: none;
      font-weight: 700;
    }
  }

  &__feedback-form {
    display: grid;
    grid-area: feedback-form;
    grid-template:
      'textarea'
      'from'
      'phone'
      'email'
      'actions' / 1fr;
    gap: 20px;

    @include media-min-md {
      grid-template:
        'textarea textarea'
        'from from'
        'phone email'
        'actions actions' / 1fr 1fr;
      gap: 20px;
    }
  }

  &__feedback-form-group {

    &--textarea {
      grid-area: textarea;
    }

    &--from {
      grid-area: from;
    }

    &--phone {
      grid-area: phone;
    }

    &--email {
      grid-area: email;
    }

    &--actions {
      grid-area: actions;
      padding-top: 0.75rem;
    }
  }

  &__read {
    padding: 0 1rem;

    @include media-min-sm {
      padding: 0 1.5rem;
    }
  }

  &__filters {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      margin-bottom: 2.25rem;
    }
  }

  &__list {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      margin-bottom: 2.25rem;
    }
  }
}
