mixin illness-card(title, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-illness--' + modsList[i].trim();
      }
    }

  a.s-illness-card(href='/', class=allMods)&attributes(attributes)
    span.s-illness-card__title!= title
    span.s-illness-card__arrow
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 10', width='20', height='10')
        path(stroke='#292B22', stroke-width='1.25' stroke-linecap='round', stroke-linejoin='round', d='M19 5H1m14-4l4 4-4-4zm4 4l-4 4 4-4z')