.s-illness-card {
  display: block;
  position: relative;
  border: 1px solid rgba($border-color, 0.25);
  padding: 1rem;
  overflow: hidden;
  color: $text-color;
  text-decoration: none;
  background: $gradient;
  border-radius: $border-radius;

  @include media-min-sm {
    padding: 1.25rem 1.5rem;
  }

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.5s $transition-timing--alternate;
    background-color: $primary-color;
    opacity: 0;
  }

  &:hover {
    text-decoration: none;
    color: $text-color;

    &::before {
      opacity: 1;
    }

    .s-illness-card__arrow {
      transform: translate3d(5px, 50%, 0);
    }
  }

  &__title {
    display: block;
    position: relative;
    z-index: 2;
    margin: 0;
    font-size: ms(-1);
    line-height: 1.3em;
    font-weight: 700;
    padding-right: 3rem;

    @include media-min-sm {
      font-size: ms(0);
    }
  }

  &__arrow {
    position: absolute;
    z-index: 2;
    right: 1rem;
    bottom: 1.25rem;
    transform: translate3d(0, 1px, 0);
    transition: 0.5s $transition-timing--alternate;

    @include media-min-sm {
      right: 1.5rem;
      bottom: 50%;
      transform: translate3d(0, 50%, 0);
    }

    svg {
      display: block;
    }
  }
}
