.s-page {
  min-width: 320px;
  min-height: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  font-size: 20px;
  line-height: 1.5em;

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__content {
    flex-grow: 1;

    @include media-min-sm {
      padding-top: 2rem;
    }
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}
