.s-promo {

  @include media-min-sm {
    padding: 0 1.5rem;
  }

  &__slider {
    position: relative;
  }

  &__slide {
    position: relative;
    max-width: 1380px;
    overflow: hidden;
    background-color: $bg-color--dark;
    color: $text-color--light;
    border-bottom-left-radius: $border-radius--big;
    border-bottom-right-radius: $border-radius--big;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;

    @include media-min-sm {
      border-radius: $border-radius--big;
    }
  }

  &__slide-wrap {
    padding: 0 1rem;

    @include media-min-sm {
      padding: 0 1.5rem;
    }
  }

  &__slide-container {
    position: relative;
    @include container;
  }

  &__slide-content {
    position: relative;
    z-index: 2;
    min-height: 540px;
  }

  &__slide-content-inner {
    position: absolute;
    bottom: 2.25rem;
    left: 0;
    max-width: 600px;

    @include media-min-sm {
      bottom: 4.5rem;
    }
  }

  &__slide-title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75rem;

    @include media-min-sm {
      font-size: ms(2);
      line-height: 1.1em;
    }
  }

  &__slide-desc {
    font-size: 0.8rem;
    line-height: 1.4em;
    margin-bottom: 1.5rem;
    opacity: 0.75;
  }

  &__slide-btn {

    .s-btn__shape {
      opacity: 0.5;
    }
  }

  &__slide-cover {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#000, 0.5);
      z-index: 2;
    }
  }

  &__slide-cover-wrap {
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: 15s $transition-timing--linear 0.75s;
    }

    .swiper-slide-active & {

      img {
        transform: scale(1.025);
      }
    }
  }

  &__slider-nav-wrap {
    display: none;
    position: absolute;
    z-index: 100;
    bottom: 2.25rem;
    left: 50%;
    width: 100%;
    padding: 0 1.5rem;
    transform: translate3d(-50%, 0, 0);
    pointer-events: none;

    @include media-min(375px) {
      display: block;
    }

    @include media-min-sm {
      bottom: 4.5rem;
    }
  }

  &__slider-nav-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    @include container;
  }

  &__slider-nav {
    pointer-events: all;

    .s-slider-nav__btn {
      background-color: $bg-color;
    }
  }

  @keyframes imageScale {

    0% {
      transform: scale(1)
    }

    100% {
      transform: scale(1.05)
    }
  }
}
