.s-article-card {

  &:hover,
  &:focus {

    .s-article-card__cover-wrap {

      img {
        transform: scale(1.05);
      }
    }
  }

  &__cover {
    display: block;
    overflow: hidden;
    border-radius: $border-radius;
    margin-bottom: 0.75rem;
    position: relative;
    z-index: 1;
  }

  &__cover-wrap {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: (3 / 4) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: -10%;
      left: 0;
      width: 100%;
      height: 120%;
      object-fit: cover;
      object-position: center;
      transition: 1.25s $transition-timing--alternate;
      will-change: transform;
      transform-origin: center;
    }
  }

  &__meta-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__meta-item {
    display: inline-block;
    margin: 0 0.75rem 0.75rem 0;
    padding: 0;
  }

  &__label {
    border: 1px solid $border-color;
    padding: 0.25rem 0.5rem;
    transition: 0.25s $transition-timing--alternate;
    font-size: ms(-1);
    line-height: 1.45em;
    text-decoration: none;
    color: currentColor;
    border-radius: $border-radius--small;
    font-weight: 500;

    &:hover,
    &:focus {
      text-decoration: none;
      color: currentColor;
      background: $gradient;
    }
  }

  &__datetime {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
  }

  &__title {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;

    a {
      color: currentColor;
      text-decoration: none;

      &:hover,
      &:focus {
        color: currentColor;
        text-decoration: none;
      }
    }
  }

  &__desc {
    font-size: ms(-1);
    line-height: 1.45em;
    margin-bottom: 0.75rem;
  }

  &__writer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  &__writer-photo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 0.75rem;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__writer-info {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
  }

  &__name {
    display: block;
  }

  &__writer-direction {
    display: block;
    opacity: 0.5;
  }
}
