mixin article-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-article-card--' + modsList[i].trim();
      }
    }

  article.s-article-card(class=allMods)&attributes(attributes)
    a.s-article-card__cover(href='article.html')
      .s-article-card__cover-wrap.rellax(data-rellax-speed='-0.75', data-rellax-percentage='0.5')
        img(src=props.cover, alt='', width='280', height='157')
    ul.s-article-card__meta-list
      li.s-article-card__meta-item
        a.s-article-card__label(href='article.html') Направление
      li.s-article-card__meta-item
        time.s-article-card__datetime(datetime='2020-12-10') Ноябрь, 27
    .s-article-card__title
      a(href='')!= props.title
    .s-article-card__desc
      p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно...
    .s-article-card__writer
      .s-article-card__writer-photo
        img(src='https://thumbnails.production.thenounproject.com/E8GdUkOUzjZe6ZFc9XVbHj74ldA=/fit-in/1000x1000/photos.production.thenounproject.com/photos/B1D82046-25B6-42EA-9195-8EC434256561.jpg', alt='')
      .s-article-card__writer-info
        span.s-article-card__writer-name Паршина Екатерина
        span.s-article-card__writer-direction Врач-нефролог