.s-news-card {

  &:hover,
  &:focus {

    .s-news-card__cover-wrap {

      img {
        transform: scale(1.05);
      }
    }
  }

  &__cover {
    display: block;
    overflow: hidden;
    border-radius: $border-radius;
    margin-bottom: 0.75rem;
    position: relative;
    z-index: 1;
  }

  &__cover-wrap {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: (9 / 16) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: -10%;
      left: 0;
      width: 100%;
      height: 120%;
      object-fit: cover;
      object-position: center;
      transition: 1.25s $transition-timing--alternate;
      will-change: transform;
      transform-origin: center;
    }
  }

  &__datetime {
    display: block;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
    opacity: 0.5;
    margin-bottom: 0.25rem;
  }

  &__title {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75rem;

    @include media-min-sm {
      font-size: ms(1);
      line-height: 1.2em;
      margin-bottom: 1rem;
    }
  }
}
