mixin news-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-news-card--' + modsList[i].trim();
      }
    }

  article.s-news-card(class=allMods)&attributes(attributes)
    a.s-news-card__cover(href='article.html')
      .s-news-card__cover-wrap.rellax(data-rellax-speed='-0.75', data-rellax-percentage='0.5')
        img(src=props.cover, alt='', width='280', height='157')
    time.s-news-card__datetime(datetime='2020-12-10') Ноябрь, 27
    .s-news-card__title!= props.title
    +btn('Подробнее')(href='article.html')