.s-slider-nav {

  &__btn {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0;
    border: none;
    padding: 0;
    overflow: hidden;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scale(0);
      transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
      border-radius: 50px;
      background-color: $primary-color;
      transform-origin: center;
      will-change: transform;
    }

    svg {
      display: block;
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    &:hover,
    &:focus {
      outline: none;

      &::before {
        transform: scale(1);
      }
    }

    &:active {
      transform: scale(0.975);
    }

    &--prev {
      margin-right: 0.5rem;

      svg {
        transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 180deg);
      }
    }
  }
}
