mixin slider-nav(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-slider-nav--' + modsList[i].trim();
      }
    }

  .s-slider-nav(class=allMods)&attributes(attributes)
    button.s-slider-nav__btn.s-slider-nav__btn--prev
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 10', width='20', height='10')
        path(stroke='#292B22', stroke-width='1.25' stroke-linecap='round', stroke-linejoin='round', d='M19 5H1m14-4l4 4-4-4zm4 4l-4 4 4-4z')
    button.s-slider-nav__btn.s-slider-nav__btn--next
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 10', width='20', height='10')
        path(stroke='#292B22', stroke-width='1.25' stroke-linecap='round', stroke-linejoin='round', d='M19 5H1m14-4l4 4-4-4zm4 4l-4 4 4-4z')
