.s-testimonial-card {
  background: $gradient;
  border-radius: $border-radius;
  border: 1px solid rgba($border-color, 0.25);

  &__top {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid $border-color;

    @include media-min-sm {
      padding: 1.25rem 1.5rem;
    }
  }

  &__case-info-list {
    font-size: ms(-1);
    line-height: 1.45em;
    list-style: none;
    font-weight: 600;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      span {
        font-weight: 400;
        opacity: 0.75;
      }
    }
  }

  &__bottom {
    padding: 0.75rem 1rem;

    @include media-min-sm {
      padding: 1.25rem 1.5rem;
    }
  }

  &__quote {
    margin: 0;
  }

  &__quote-text {
    font-size: 0.8rem;
    line-height: 1.45em;
    margin-bottom: 0.5rem;
    display: block;
  }

  &__patient {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 400;

    span {
      font-weight: 600;
    }
  }

  &__original {
    display: flex;
    align-items: center;
    position: relative;
    transition: 0.25s $transition-timing--alternate;
    margin-top: 1rem;
    text-decoration: none;
    color: currentColor;
    font-size: ms(-1);
    font-weight: 700;
    line-height: 1.45em;

    &::before {
      content: '';
      position: absolute;
      top: -0.25rem;
      right: -0.25rem;
      bottom: -0.25rem;
      left: -0.25rem;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $primary-color--dark;
    }

    svg {
      margin-right: 0.5rem;
      fill: currentColor;
    }
  }
}
