mixin testimonial-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-testimonial-card--' + modsList[i].trim();
      }
    }

  if props.original
    .s-testimonial-card(class=allMods)&attributes(attributes)
      .s-testimonial-card__top
        ul.s-testimonial-card__case-info-list
          li
            span Заболевание:
            |  Гломерулонефрит
          li
            span Врач:
            |  Кислый Павел Николаевич
        .s-testimonial-card__rating
      .s-testimonial-card__bottom
        blockquote.s-testimonial-card__quote
          span.s-testimonial-card__quote-text
            p!= props.text
          footer.s-testimonial-card__patient
            span Юлия
            |  , 20.03.2020
        a.s-testimonial-card__original(href='/')
          svg(xmlns='http://www.w3.org/2000/svg', fill='#292b22', viewbox='0 0 12 16', width='12', height='16')
            path(fill-rule='evenodd', d='M2.1186 1.15942c-.25486 0-.50364.10733-.69037.30565-.1874.19904-.29615.47335-.29615.76359V13.7713c0 .2903.10875.5646.29615.7636.18673.1983.43551.3057.69037.3057h7.7628c.2549 0 .5036-.1074.6904-.3057.1874-.199.2961-.4733.2961-.7636V5.86802c0-.00004 0 .00004 0 0 0-.07153-.027-.13618-.0688-.18056L6.59627 1.22368c-.0411-.04367-.09243-.06421-.14137-.06426-.00004 0 .00004 0 0 0H2.1186zM.613313.66028C1.00891.240124 1.54993 0 2.1186 0h4.3363c.36275.00008232.7064.153394.95635.418947L11.6139 4.88254c0 .00002 0-.00002 0 0 .2493.26475.386.61956.3861.98524v7.90352c0 .5845-.2184 1.149-.6133 1.5684-.3956.4202-.9366.6603-1.5053.6603H2.1186c-.56867 0-1.10969-.2401-1.505287-.6603C.218393 14.9203 0 14.3558 0 13.7713V2.22866C0 1.64425.218393 1.07972.613313.66028zM3.10512 8c0-.32017.25343-.57971.56604-.57971h4.65768c.31262 0 .56604.25954.56604.57971 0 .32016-.25342.57971-.56604.57971H3.67116c-.31261 0-.56604-.25955-.56604-.57971zm0 3.2979c0-.3202.25343-.5797.56604-.5797h4.65768c.31262 0 .56604.2595.56604.5797s-.25342.5797-.56604.5797H3.67116c-.31261 0-.56604-.2595-.56604-.5797z', clip-rule='evenodd')
          span Оригинал отзыва

  else
    .s-testimonial-card(class=allMods)&attributes(attributes)
      .s-testimonial-card__top
        ul.s-testimonial-card__case-info-list
          li
            span Заболевание:
            |  Гломерулонефрит
          li
            span Врач:
            |  Кислый Павел Николаевич
        .s-testimonial-card__rating
      .s-testimonial-card__bottom
        blockquote.s-testimonial-card__quote
          span.s-testimonial-card__quote-text
            p!= props.text
          footer.s-testimonial-card__patient
            span Юлия
            |  , 20.03.2020