.s-about-illnesses {
  padding: 2.25rem 1rem;

  @include media-min-sm {
    padding: 3rem 1.5rem;
  }

  &__container {
    @include container;
    display: grid;
    gap: 20px;
    grid-template: 'cover' 'content' / 1fr;

    @include media-min-sm {
      grid-template: 'content . cover' / 7fr 1fr 4fr;
    }
  }

  &__content {
    align-self: start;
    grid-area: content;

    @include media-min-md {
      align-self: center;
    }
  }

  &__subtitle {
    font-size: ms(-1);
    display: block;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: $primary-color--dark;
    margin-bottom: 0.75rem;

    @include media-min-sm {
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    font-size: ms(0);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75rem;

    @include media-min-sm {
      font-size: ms(1);
    }
  }

  &__text {
    font-size: 0.8rem;
    line-height: 1.5em;
    margin-bottom: 1.5rem;
  }

  &__cover {
    align-self: start;
    grid-area: cover;
    overflow: hidden;
    border-radius: $border-radius;
    position: relative;
    z-index: 1;

    @include media-min-md {
      align-self: center;
    }
  }

  &__cover-wrap {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: calc(100% / ( 4 / 3 ));

      @include media-min-sm {
        padding-bottom: calc(100% / ( 3 / 4 ));
      }
    }

    img {
      display: block;
      position: absolute;
      top: -10%;
      left: 0;
      width: 100%;
      height: 120%;
      object-fit: cover;
      object-position: center;
    }
  }
}
