mixin breadcrumbs(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-breadcrumbs--' + modsList[i].trim();
      }
    }

  ul.s-breadcrumbs(class=allMods)&attributes(attributes)
    li.s-breadcrumbs__item.s-breadcrumbs__item--index
      a(href='index.html')
        svg(xmlns='http://www.w3.org/2000/svg', fill='#292b22', viewbox='0 0 17 15', width='17', height='15')
          path(fill-rule='evenodd', d='M8.0944.152104c.23222-.2028055.57897-.2028055.8112 0l7.884 6.885246c.2561.22358.282.61195.058.86747-.224.25551-.6131.2814-.8692.05783l-.7304-.63793v6.29548c0 .3945-.1801.7532-.4669 1.0036-.2842.2482-.654.3762-1.0251.3762H3.24397c-.3711 0-.74086-.128-1.02503-.3762-.2868-.2504-.46692-.6091-.46692-1.0036V7.32472l-.73047.63793c-.256008.22357-.645136.19768-.869143-.05783-.2240071-.25552-.1980652-.64389.057943-.86747L8.0944.152104zM2.9839 6.2489v7.3713c0 .0114.00447.0418.04624.0783.04439.0388.12026.072.21383.072h2.62801c.09357 0 .16944-.0332.21383-.072.04177-.0365.04624-.0669.04624-.0783v-3.0601c0-.3944.18012-.75313.46691-1.0036.28418-.24817.65394-.37617 1.02503-.37617h1.75202c.37109 0 .74089.128 1.02499.37617.2868.25047.467.6092.467 1.0036v3.0601c0 .0114.0044.0418.0462.0783.0444.0388.1203.072.2138.072h2.628c.0936 0 .1695-.0332.2139-.072.0417-.0365.0462-.0669.0462-.0783V6.2489L8.5 1.43162 2.9839 6.2489zm6.66095 7.5216c-.0058-.0494-.00878-.0995-.00878-.1503v-3.0601c0-.0113-.00447-.0418-.04624-.0783-.04439-.0388-.12026-.072-.21382-.072H7.62399c-.09356 0-.16943.0332-.21382.072-.04177.0365-.04624.067-.04624.0783v3.0601c0 .0508-.00298.1009-.00878.1503h2.2897z', clip-rule='evenodd')
        | Главная
    block

mixin breadcrumbs-item(text, href, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-breadcrumbs__item--' + modsList[i].trim();
      }
    }

  li.s-breadcrumbs__item(class=allMods)&attributes(attributes)

    if (typeof(href) !== 'undefined' && href)
      a(href=href)!= text

    else
      span!= text