.s-breadcrumbs {
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 1.5rem;
  color: currentColor;

  @include media-min-sm {
    display: flex;
  }

  a {
    display: inline-block;
    transition: 0.25s $transition-timing--alternate;
    color: currentColor;
    text-decoration: none;
    opacity: 0.5;

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: none;
      opacity: 1;
    }
  }

  span {
    display: inline-block;
    font-weight: 700;
    color: $primary-color--dark;
  }

  &__item {
    display: inline-block;
    margin-right: 0.6em;
    white-space: nowrap;
    font-size: ms(-1);
    line-height: 1.45em;

    &:not(:last-child) {
      margin-right: 0.75rem;

      &::after {
        content: '';
        display: inline-block;
        width: 5px;
        height: 9px;
        margin-left: 0.75rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 5 9'%3E%3Cpath fill='%23292B22' fill-rule='evenodd' d='M.146132 8.05347L3.61653 4.50509.146132.937099C-.322841.466595.446274-.337183.915247.152925L4.87338 4.17181c.16883.17644.16883.47051 0 .62734L.915248 8.85725c-.468973.47051-1.238089-.33327-.769116-.80378z' clip-rule='evenodd'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        opacity: 0.5;
      }
    }

    &--index {

      a {

        svg {
          display: inline-block;
          transform: translateY(-2px);
          vertical-align: middle;
          margin-right: 0.5rem;
          fill: currentColor;
        }
      }
    }
  }

  &--light {

    span {
      color: $primary-color;
    }

    .s-breadcrumbs__item {

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 5 9'%3E%3Cpath fill='%23ffffff' fill-rule='evenodd' d='M.146132 8.05347L3.61653 4.50509.146132.937099C-.322841.466595.446274-.337183.915247.152925L4.87338 4.17181c.16883.17644.16883.47051 0 .62734L.915248 8.85725c-.468973.47051-1.238089-.33327-.769116-.80378z' clip-rule='evenodd'/%3E%3C/svg%3E");
      }
    }
  }
}
