.s-direction {
  position: relative;
  border: 1px solid rgba($border-color, 0.25);
  padding: 1rem;
  overflow: hidden;
  transition: 0.5s $transition-timing--alternate;
  background: $gradient;
  border-radius: $border-radius;
  text-decoration: none;
  color: $text-color;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.5s $transition-timing--alternate;
    background-color: $primary-color;
    opacity: 0;
  }

  &:hover {
    text-decoration: none;
    color: $text-color;

    &::before {
      opacity: 1;
    }

    .s-direction__icon svg {
      fill: $text-color;
    }

    .s-direction__arrow {
      transform: translate3d(5px, 2px, 0);
    }
  }

  @include media-min-sm {
    padding: 1.5rem;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
    width: 40px;
    height: 40px;
    transition: 0.5s $transition-timing--alternate;
    margin-bottom: 1rem;

    svg {
      transition: 0.5s $transition-timing--alternate;
      fill: $primary-color--dark;
    }
  }

  &__title {
    display: block;
    position: relative;
    z-index: 2;
    font-size: ms(0);
    font-weight: 700;
    line-height: 1.3em;
    padding-right: 3rem;
  }

  &__arrow {
    position: absolute;
    z-index: 2;
    right: 1rem;
    bottom: 1rem;
    transform: translate3d(0, 1px, 0);
    transition: 0.5s $transition-timing--alternate;

    @include media-min-sm {
      right: 1.5rem;
      bottom: 1.5rem;
      transform: translate3d(0, 2px, 0);
    }
  }
}
