.s-page-header {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;

  &__contacts {
    display: none;
    padding: 0.5rem 1rem;

    @include media-min-sm {
      display: block;
      padding: 0.5rem 1.5rem;
    }
  }

  &__contacts-container {
    display: flex;
    justify-content: space-between;
    @include container;
  }

  &__contacts-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-items: center;
      font-size: ms(-1);
      line-height: 1.45em;
      font-weight: 500;

      &:not(:last-child) {

        @include media-min-md {
          margin-right: 2.25rem;
        }
      }

      &:nth-child(2) {
        display: none;

        @include media-min-md {
          display: flex;
        }
      }

      svg {
        display: block;
        margin-right: 0.5rem;
      }

      a {
        text-decoration: none;
        color: $text-color;

        &:hover,
        &:focus {
          text-decoration: none;
          color: $primary-color--dark;
        }
      }
    }
  }

  &__main {
    padding: 0 1rem;
    color: $text-color;

    @include media-min-sm {
      padding: 0 1.5rem;
    }
  }

  &__main-container {
    @include container;
  }

  &__top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0;
  }

  &__logo {
    margin-right: auto;
    color: currentColor;
  }

  &__actions {
    display: flex;
    display: none;
    flex-wrap: wrap;
    flex-direction: row;

    @include media-min-sm {
      display: block;
    }
  }

  &__action {

    & + & {
      margin-left: 0.5rem;
    }
  }

  &__burger {

    @include media-min-sm {
      display: none;
    }
  }

  &__nav {
    display: none;
    padding: 1rem 0;
    border-top: 1px solid $border-color;

    @include media-min-sm {
      display: block;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 0;
        font-size: ms(-1);
        line-height: 1.45em;
        font-weight: 600;

        a {
          transition: 0.25s $transition-timing--linear;
          text-decoration: none;
          color: currentColor;

          &:hover,
          &:focus {
            color: $primary-color--dark;
          }
        }
      }
    }
  }

  &--light {

    .s-page-header__main {
      color: $text-color--light;
    }

    .s-page-header__nav {
      border-top: 1px solid rgba($text-color--light, 0.25);

      a {

        &:hover,
        &:focus {
          color: $primary-color;
        }
      }
    }
  }

  &--on-field {

    .s-page-header__main {

      @include media-min-sm {
        padding: 0 3rem;
      }
    }
  }
}
