mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods)&attributes(attributes)
    .s-page-header__contacts
      .s-page-header__contacts-container
        ul.s-page-header__contacts-list.s-page-header__contacts-list--left
          li
            +icon('location', '12', '14')
            span Санкт-Петербург, Кадетская лин. д. 13-15
          li
            +icon('work-hours', '14', '14')
            span Режим работы: Пн–Пт 08:00-17:00
        ul.s-page-header__contacts-list.s-page-header__contacts-list--right
          li
            +icon('phone', '14', '14')
            a(href='tel:') +7 812 000 00 00
          li
            +icon('email', '14', '14')
            a(href='mailto:') mail@mail.ru
    .s-page-header__main
      .s-page-header__main-container
        .s-page-header__top
          +logo().s-page-header__logo
          +burger().s-page-header__burger
          .s-page-header__actions
            +simple-btn('Записаться на прием').s-page-header__action
            button.s-simple-btn.s-simple-btn--ghost.s-simple-btn--with-icon.s-page-header__action
              | Личный кабинет
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 16', width='16', height='16')
                path(fill-rule='evenodd', clip-rule='evenodd', d='M8 16c4.4183 0 8-3.5817 8-8 0-4.41828-3.5817-8-8-8-4.41828 0-8 3.58172-8 8 0 4.4183 3.58172 8 8 8zm0-1.1429c1.84197 0 3.5143-.7262 4.7463-1.908-.0924-1.103-.5853-1.9215-1.3235-2.4897-.8392-.64604-2.0387-.99908-3.42267-.99908-1.38397 0-2.58346.35304-3.42268.99908-.73829.5683-1.23119 1.3868-1.3235 2.4899C4.4859 14.131 6.15815 14.8571 8 14.8571zm4.1199-5.30337c.7426.57157 1.2912 1.33457 1.5725 2.27067.7355-1.0925 1.1647-2.40833 1.1647-3.8244 0-3.7871-3.07-6.85714-6.8571-6.85714S1.14286 4.2129 1.14286 8c0 1.41619.42931 2.7321 1.16489 3.8247.28131-.9363.82992-1.6993 1.57259-2.27097.73812-.56817 1.64838-.93339 2.64353-1.11023-.71773-.47787-1.19067-1.29434-1.19067-2.22127 0-1.47276 1.19391-2.66667 2.66667-2.66667 1.47276 0 2.66663 1.19391 2.66663 2.66667 0 .92688-.4729 1.74331-1.19052 2.2212.99532.17681 1.90572.54205 2.64392 1.1103zm-2.59622-3.3315c0 .84157-.68223 1.52381-1.52381 1.52381-.84158 0-1.52381-.68224-1.52381-1.52381 0-.84158.68223-1.52381 1.52381-1.52381.84158 0 1.52381.68223 1.52381 1.52381z')
        .s-page-header__nav
          ul.s-page-header__nav-list
            li
              a(href='/') Пациентам
            li
              a(href='/') Услуги
            li
              a(href='specialists.html') Специалисты
            li
              a(href='/') Заболевания
            li
              a(href='about.html') Об отделении
            li
              a(href='news-list.html') Статьи
            li
              a(href='testimonials.html') Отзывы
            li
              a(href='contacts.html') Контакты