.s-price {
  padding: 2.25rem 1rem;

  @include media-min-sm {
    padding: 3rem 1.5rem;
  }

  &__container {
    @include container;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      font-size: ms(2);
      line-height: 1.1em;
    }
  }

  &__list {
    margin: 0;
    border: 1px solid $border-color;
    padding: 0;
    overflow: hidden;
    list-style: none;
    border-radius: $border-radius;
  }

  &__item {
    margin: 0;
    padding: 1rem;
    background: $gradient;

    @include media-min-xs {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
    }

    @include media-min-sm {
      padding: 1.25rem 1.5rem;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }

  &__item-info {
    padding-right: 1.5rem;
    margin-bottom: 0.75rem;

    @include media-min-xs {
      flex: 1 0 0%;
      width: 100%;
      max-width: 100%;
      margin-bottom: 0;
    }
  }

  &__item-title {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
    max-width: 600px;
  }

  &__item-desc {
    font-size: ms(-1);
    line-height: 1.45em;
    max-width: 600px;
  }

  &__item-price {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 700;

    @include media-min-xs {
      flex: 0 0 auto;
      width: auto;
    }
  }
}
