.s-mobile-menu {
  position: fixed;
  z-index: 1000;
  top: 0.5rem;
  right: 0.5rem;
  width: calc(100% - 1rem);
  height: 100%;
  max-height: 80vh;
  padding: 3rem 1rem 1.5rem;
  overflow: scroll;
  transform: scale(0.95);
  transition: 0.25s ease-out;
  background-color: #fff;
  box-shadow:
    0 30px 60px -12px rgba($text-color, 0.15),
    0 18px 36px -18px rgba(0, 0, 0, 0.3);
  border-radius: $border-radius;
  pointer-events: none;
  opacity: 0;
  transform-origin: 100% 0;

  @media only screen and (min-width: $screen-sm) {
    width: 100%;
    max-width: 20rem;
  }

  &__title {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 700;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin: 0;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;

    &::before {
      content: '';
      position: absolute;
      top: -1rem;
      right: -1rem;
      bottom: -1rem;
      left: -1rem;
    }

    svg {
      display: block;
    }
  }

  &__actions {
    margin-bottom: 1.5rem;

    .s-simple-btn {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }

  &__block {

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        font-size: ms(-1);
        line-height: 1.45em;
        font-weight: 400;

        &:not(:last-child) {
          margin-bottom: 0.25rem;
        }

        a {
          display: inline-block;
          color: currentColor;
          text-decoration: none;
        }
      }
    }
  }

  &__contacts {
    margin-bottom: 1.5rem;

    ul {

      li {

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        address,
        a {
          display: block;
          margin: 0;
          font-size: ms(-1);
          line-height: 1.5em;
          color: currentColor;
          opacity: 0.75;

          &:not(:last-child) {
            margin-bottom: 0.25rem;
          }
        }
      }
    }
  }

  &__subtitle {
    display: block;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }

  &__get-a-call {
    width: 100%;
    color: $text-color;
    margin-bottom: 1.5rem;
  }

  &--is-active {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }
}
