.s-directions {
  padding: 2.25rem 1rem;

  @include media-min-sm {
    padding: 3rem 1.5rem;
  }

  &__container {
    @include container;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      font-size: ms(2);
      line-height: 1.1em;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;

    @include media-min-sm {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      grid-gap: 20px;
    }

    @include media-min-md {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }
}
