.s-btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 1;
  margin: 0;
  border: none;
  padding: 13px 20px 17px;
  overflow: hidden;
  background-color: transparent;
  background-image: none;
  color: currentColor;
  border-radius: 100px;
  font-family: $font-family;
  font-size: ms(-1);
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.45em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;

  &:hover,
  &:focus {
    outline: none;
    color: currentColor;
    text-decoration: none;

    &::before {
      transform: translateX(calc(100% - 50px));
    }

    .s-btn__shape {
      left: calc(100% - 50px);
      animation: shapemove 1.25s $transition-timing--alternate;
    }

    .s-btn__icon {
      transform: translate3d(5px, 1px, 0);
    }
  }

  &__shape {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    transition: 1.25s $transition-timing--alternate;
    background-color: $primary-color;
    border-radius: 100px;
    transform-origin: center;
  }

  &__label {
    display: block;
    position: relative;
    z-index: 2;
    margin-right: 1rem;
  }

  &__icon {
    position: relative;
    z-index: 2;
    transform: translate3d(0, 1px, 0);
    transition: transform 1.5s $transition-timing--alternate;

    svg {
      stroke: currentColor;
    }
  }

  @keyframes shapemove {

    0% {
      transform: matrix(1, 0, 0, 1, 0, 0);
    }

    15% {
      transform: matrix(1.2, 0, 0, 0.95, 0, 0);
    }

    60% {
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }
}
