mixin btn(text, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' s-btn--' + modsList[i].trim();
      }
    }

  if (attributes.href)
    a.s-btn(class=allMods)&attributes(attributes)
      span.s-btn__shape
      span.s-btn__label!= text
      span.s-btn__icon
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', stroke='#292B22', viewbox='0 0 20 10', width='20', height='10')
          path(stroke-width='1.25' stroke-linecap='round', stroke-linejoin='round', d='M19 5H1m14-4l4 4-4-4zm4 4l-4 4 4-4z')

  else
    button.s-btn(class=allMods)&attributes(attributes)
      span.s-btn__shape
      span.s-btn__label!= text
      span.s-btn__icon
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', stroke='#292B22', viewbox='0 0 20 10', width='20', height='10')
          path(stroke-width='1.25' stroke-linecap='round', stroke-linejoin='round', d='M19 5H1m14-4l4 4-4-4zm4 4l-4 4 4-4z')
