.s-article {
  padding: 4.5rem 1rem 2.25rem;

  @include media-min-sm {
    padding: 10.5rem 1.5rem 0;
  }

  &__container {
    @include container;
    display: grid;
    gap: 45px 20px;
    grid-template:
      'header'
      'cover'
      'main-text'
      'writer' / 1fr;

    @include media-min-md {
      gap: 45px 20px;
      grid-template:
        'writer header .'
        'cover cover cover'
        '. main-text .' / 2fr 8fr 2fr;
    }
  }

  &__writer {
    grid-area: writer;

    @include media-max-md {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
    }
  }

  &__writer-photo {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 0.75rem;

    @include media-max-md {
      margin-right: 0.75rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__writer-name {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 700;
  }

  &__writer-direction {
    opacity: 0.5;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  &__datetime {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;

    @include media-max-md {
      display: block;
      margin-top: 0.5rem;
      width: 100%;
    }
  }

  &__header {
    grid-area: header;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin: 0;

    @include media-min-sm {
      font-size: ms(2);
      line-height: 1.1em;
    }
  }

  &__main-text {
    grid-area: main-text;

    @include media-max-sm {
      font-size: 0.8rem;
      line-height: 1.45em;
    }
  }

  &__cover {
    grid-area: cover;
    overflow: hidden;
    border-radius: $border-radius;
    position: relative;
    z-index: 1;
  }

  &__cover-wrap {
    position: relative;
    height: 540px;

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
