.s-make-an-appointment {
  padding: 2.25rem 1rem;

  @include media-min-sm {
    padding: 3rem 1.5rem;
  }

  &__inner {
    position: relative;
    max-width: 1180px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border-radius: $border-radius;
    z-index: 1;
  }

  &__info {
    position: relative;
    z-index: 2;
    padding: 4.5rem 1rem 2.25rem;

    @include media-min-sm {
      padding: 3rem 3.75rem;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: -0.01em;
    margin-top: 0;
    margin-bottom: 0.75rem;

    @include media-min-sm {
      font-size: ms(2);
      line-height: 1.1em;
      margin-bottom: 1rem;
    }
  }

  &__btn {

    .s-btn__shape {
      background-color: $bg-color;
    }
  }

  &__cover {
    position: absolute;
    z-index: 1;
    top: -10%;
    left: 0;
    width: 100%;
    height: 120%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #f6cb12 0%, rgba(246, 203, 18, 0.75) 100%);
    }
  }

  &__cover-wrap {
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      transform: scale(1.2);
    }
  }
}
