mixin make-an-appointment()

  .s-make-an-appointment
    .s-make-an-appointment__inner
      .s-make-an-appointment__info
        .s-make-an-appointment__title Записаться на прием
        +btn('Записаться на прием')(href='/').s-make-an-appointment__btn
      .s-make-an-appointment__cover
        .s-make-an-appointment__cover-wrap.rellax(data-rellax-speed='-0.75', data-rellax-percentage='0.5')
          img(src='https://images.unsplash.com/photo-1573496546038-82f9c39f6365?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80', alt='')