.s-field-text {
  display: block;

  &__name {
    display: block;
    margin-bottom: 0.5rem;
    line-height: 1.45em;
    font-weight: 700;
    font-size: ms(-1);
  }

  &__input-wrap {
    display: block;
  }

  &__input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    min-height: 60px;
    margin: 0;
    border: 1px solid $border-color;
    border-radius: $border-radius--small;
    padding: 1rem 1.5rem;
    line-height: 1.4em;
    font-size: 0.70721em;
    font-family: inherit;
    background-color: $bg-color;
    appearance: textfield;
    appearance: textfield;

    &[disabled],
    &[readonly] {
      cursor: not-allowed;
    }

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration,
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }

    &[type='color'] {
      padding: 0;
    }

    &::placeholder {
      opacity: 1;
    }

    @at-root textarea#{&} {
      height: auto;
      min-height: calc(120px + 2px);
      resize: vertical;
    }
  }
}
