include ../blocks/article-card/article-card.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/btn/btn.pug
include ../blocks/burger/burger.pug
include ../blocks/certificates/certificates.pug
include ../blocks/direction/direction.pug
include ../blocks/doctor-card/doctor-card.pug
include ../blocks/doctors/doctors.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/field-text/field-text.pug
include ../blocks/form/form.pug
include ../blocks/icon/icon.pug
include ../blocks/illness-card/illness-card.pug
include ../blocks/logo/logo.pug
include ../blocks/make-an-appointment/make-an-appointment.pug
include ../blocks/mobile-menu/mobile-menu.pug
include ../blocks/news-card/news-card.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/show-more/show-more.pug
include ../blocks/simple-btn/simple-btn.pug
include ../blocks/slider-nav/slider-nav.pug
include ../blocks/slider-pagination/slider-pagination.pug
include ../blocks/slider-progressbar/slider-progressbar.pug
include ../blocks/social/social.pug
include ../blocks/testimonial-card/testimonial-card.pug
include ../blocks/to-top/to-top.pug
include ../blocks/top-contacts/top-contacts.pug
