mixin top-contacts(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-top-contacts--' + modsList[i].trim();
      }
    }

  //- .s-top-contacts(class=allMods)&attributes(attributes)
  //-   .s-top-contacts__container
  //-     ul.s-top-contacts__list.s-top-contacts__list--left
  //-       li
  //-         +icon('location', '12', '14')
  //-         span Санкт-Петербург, Кадетская лин. д. 13-15
  //-       li
  //-         +icon('work-hours', '14', '14')
  //-         span Режим работы: Пн–Пт 08:00-17:00
  //-     ul.s-top-contacts__list.s-top-contacts__list--right
  //-       li
  //-         +icon('phone', '14', '14')
  //-         a(href='tel:') +7 812 000 00 00
  //-       li
  //-         +icon('email', '14', '14')
  //-         a(href='mailto:') mail@mail.ru