// .s-top-contacts {
// display: none;
// padding: 0.5rem 1rem;

// @include media-min-sm {
//   display: block;
//   padding: 0.5rem 1.5rem;
// }

// &__container {
//   max-width: 1180px;
//   margin-left: auto;
//   margin-right: auto;
//   display: flex;
//   justify-content: space-between;
// }

// &__list {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;

//   li {
//     font-size: ms(-1);
//     line-height: 1.4em;
//     font-weight: 500;
//     display: flex;
//     align-items: center;

//     &:not(:last-child) {

//       @include media-min-md {
//         margin-right: 2.25rem;
//       }
//     }

//     &:nth-child(2) {
//       display: none;

//       @include media-min-md {
//         display: flex;
//       }
//     }

//     svg {
//       display: block;
//       margin-right: 0.5rem;
//     }

//     a {
//       text-decoration: none;
//       color: $text-color;

//       &:hover,
//       &:focus {
//         text-decoration: none;
//         color: $primary-color--dark;
//       }
//     }
//   }
// }
// }
