.s-simple-btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin: 0;
  border: none;
  padding: 9px 20px 11px;
  overflow: hidden;
  background-color: $primary-color;
  background-image: none;
  color: $text-color;
  border-radius: $border-radius--small;
  font-family: $font-family;
  font-size: ms(-1);
  font-weight: 700;
  letter-spacing: 0.01em;
  line-height: 1.45em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;
  transition: 0.25s $transition-timing--linear;

  &:hover,
  &:focus {
    background-color: darken($primary-color, 5%);
  }

  &--ghost {
    border: 1px solid $primary-color;
    background-color: transparent;
    color: currentColor;
  }

  &--with-icon {

    svg {
      display: block;
      transform: translateY(1px);
      margin-left: 0.5rem;
    }
  }
}
