mixin simple-btn(text, mods)

  -
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-simple-btn--' + modsList[i].trim();
      }
    }

  if (attributes.href)
    a.s-simple-btn(class=allMods)&attributes(attributes)!= text

  else
    button.s-simple-btn(class=allMods)&attributes(attributes)!= text