.s-about-clinic {

  @include media-min-sm {
    padding: 0 1.5rem;
  }

  &__wrap {
    background: linear-gradient(180deg, rgba(#fbf9ee, 0.85) 0%, rgba(#f9f6f1, 0) 50%, rgba(#f6f3f3, 0.85) 100%);
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: $border-radius--big;
    border-top-right-radius: $border-radius--big;
    padding: 3.5rem 1rem 2.25rem;

    @include media-min-sm {
      border-radius: $border-radius--big;
      padding: 10.5rem 1.5rem 3rem;
    }
  }

  &__container {
    @include container;
  }

  &__section {
    display: grid;
    gap: 20px;

    &:not(:last-child) {
      margin-bottom: 3rem;

      @include media-min-sm {
        margin-bottom: 6rem;
      }
    }

    &--intro {
      grid-template: 'cover' 'content' / 1fr;

      @include media-min-sm {
        grid-template: 'content . cover' / 7fr 1fr 4fr;
        --cover-aspect-ratio: 3 / 4;
      }
    }

    &--partners {
      grid-template: 'cover' 'content' / 1fr;

      @include media-min-sm {
        grid-template: 'cover . content' / 4fr 1fr 7fr;
        --cover-aspect-ratio: 1;
      }
    }

    &--history {
      grid-template: 'cover' 'content' / 1fr;

      @include media-min-sm {
        grid-template: 'content . cover' / 7fr 1fr 4fr;
        --cover-aspect-ratio: 3 / 4;
      }
    }
  }

  &__section-content {
    align-self: start;
    grid-area: content;

    @include media-min-md {
      align-self: center;
    }
  }

  &__section-cover {
    align-self: start;
    grid-area: cover;
    overflow: hidden;
    border-radius: $border-radius;
    position: relative;
    z-index: 1;

    @include media-min-md {
      align-self: center;
    }
  }

  &__section-cover-wrap {
    position: relative;
    border-radius: $border-radius;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: calc(100% / ( 4 / 3 ));

      @include media-min-sm {
        padding-bottom: calc(100% / ( 3 / 4 ));
      }

      @include media-min-lg {
        padding-bottom: calc(100% / (var(--cover-aspect-ratio)));
      }
    }

    img {
      display: block;
      position: absolute;
      top: -10%;
      left: 0;
      width: 100%;
      height: 120%;
      object-fit: cover;
      object-position: center;
      border-radius: $border-radius;
    }
  }

  &__section-subtitle {
    font-size: ms(-1);
    display: block;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: $primary-color--dark;
    margin-bottom: 0.75rem;

    @include media-min-sm {
      margin-bottom: 1.5rem;
    }
  }

  &__section-title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75rem;

    &--accent {

      @include media-min-sm {
        font-size: ms(2);
        line-height: 1.1em;
        letter-spacing: -0.01em;
      }
    }
  }

  &__section-text {
    font-size: 0.8rem;
    line-height: 1.5em;
    margin-bottom: 1.5rem;
  }
}
