.s-tabs {

  &__list {
    border-bottom: 1px solid $primary-color;

    li {

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      a {
        display: inline-block;
        padding: 0.5rem 0;
        transition: 0.25s $transition-timing--linear;
        font-size: ms(-1);
        line-height: 1.45em;
        font-weight: 600;
        text-decoration: none;
        opacity: 0.5;
        color: $text-color;

        &:hover,
        &:focus {
          opacity: 1;
        }

        &.active {
          opacity: 1;
        }
      }
    }
  }

  &__content {
    padding: 1.5rem 0;
  }
}
