extends ../pug/layout.pug

block meta
  - var title = 'About';
  title= title
  meta(name='description', content='')

block header
  +page-header('on-field')
  +mobile-menu()

block content
  .s-about-clinic
    .s-about-clinic__wrap
      .s-about-clinic__container
        .s-about-clinic__section.s-about-clinic__section--intro
          .s-about-clinic__section-content
            +breadcrumbs()
              +breadcrumbs-item('Об отделении')
            .s-about-clinic__section-title.s-about-clinic__section-title--accent Нефрологическая служба является одним из старейших подразделений КВМТ им. Пирогова
            .s-about-clinic__section-text
              p Специалисты-нефрологи ведут пациентов со всеми стадиями заболеваний почек, от начальных изменений в анализах мочи или крови до терминальной почечной недостаточности.
              p Около 83% пациентов, обратившихся впервые в нашу нефрологическую службу, наблюдаются нами в дальнейшем на постоянной основе. Большинство заболеваний почек, такие как гломерулонефрит, интерстициальный нефрит (пиелонефрит), сахарный диабет с поражением почек (диабетическая нефропатия), поликистозная болезнь почек (поликистоз почек), поражение почек при заболеваниях других органов и систем, требуют регулярного наблюдения нефролога.
            +btn('Подробнее')
          .s-about-clinic__section-cover
            .s-about-clinic__section-cover-wrap.rellax(data-rellax-speed='-0.75', data-rellax-percentage='0.5')
              img(src='https://thumbnails.production.thenounproject.com/hzqVVGhFkOqqFUxh_KJ3oca8Thc=/fit-in/1000x1000/photos.production.thenounproject.com/photos/B76D7A00-AA57-401A-AADE-DD2ED3C91780.jpg', alt='')
        .s-about-clinic__section.s-about-clinic__section--partners
          .s-about-clinic__section-content
            span.s-about-clinic__section-subtitle Сотрудничество
            .s-about-clinic__section-title Нефрологическая служба тесно сотрудничает с другими подразделениями клиники и имеет возможность использовать широкий спектр лабораторных тестов и инструментальных исследований
            .s-about-clinic__section-text
              p Консультативную поддержку оказывают специалисты кардиологи, эндокринологи, ортопеды, урологи, онкологи, радиологи и другие.
              p Часто для установления точного диагноза нефролог рекомендует выполнение биопсии почки. Нефробиопсия выполняется в нашей клиники опытными специалистами под контролем УЗИ. Установление морфологического диагноза, т.е. по данным нефробиопсии, имеет ключевое значение для выбора дальнейшей тактики лечения.
            +btn('Подробнее')
          .s-about-clinic__section-cover
            .s-about-clinic__section-cover-wrap.rellax(data-rellax-speed='-0.75', data-rellax-percentage='0.5')
              img(src='https://thumbnails.production.thenounproject.com/JNfAOjsUaoPImvCtCumriR3Q60o=/fit-in/1000x1000/photos.production.thenounproject.com/photos/E05DE1FE-DC27-49AA-9478-680835B9FA4B.jpg', alt='')
        .s-about-clinic__section.s-about-clinic__section--history
          .s-about-clinic__section-content
            span.s-about-clinic__section-subtitle История
            .s-about-clinic__section-title Многие годы мы сотрудничаем с «Национальным центром клинической и морфологической диагностики», признанным лидером в данном направлении
            .s-about-clinic__section-text
              p Наличие всего этого опыта в одном месте, ориентация на пациента, означает, что вы не просто получите одно мнение, ваш конкретный случай, ваш диагноз и тактика ведения согласовывается с командой специалистов. Короткий срок выполнения анализов, удобный график приема, то что в других местах может занять недели или даже месяцы у нас можно сделать за считанные дни.
              p Наши нефрологи, в качестве ученых и исследователей, ищут новые возможности для улучшения диагностики и лечения людей с заболеваниями почек. Накопленный опыт и знания представляются нами в виде публикаций в ведущих научных журналах по профилю Нефрология. На базе нефрологической службы постоянно проходят клинический исследования, возможно и у вас будет возможность принять в них участие.
            +btn('Подробнее')
          .s-about-clinic__section-cover
            .s-about-clinic__section-cover-wrap.rellax(data-rellax-speed='-0.75', data-rellax-percentage='0.5')
              img(src='https://thumbnails.production.thenounproject.com/O9H6uZ509IigaSNOuFiEGd7zeZw=/fit-in/1000x1000/photos.production.thenounproject.com/photos/C90C30B8-4882-488C-889A-1D3F455A07B8.jpg', alt='')

  +certificates()

  .s-find-vacancies
    .s-find-vacancies__inner
      .s-find-vacancies__info
        .s-find-vacancies__title Вакансии
        .s-find-vacancies__desc
          p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
        +btn('Записаться на прием').s-find-vacancies__btn(href='/')
      .s-find-vacancies__cover
        .s-find-vacancies__cover-wrap.rellax(data-rellax-speed='-0.75', data-rellax-percentage='0.5')
          img(src='https://images.unsplash.com/photo-1543269865-4430f94492b9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80', alt='')

  .s-gallery
    .s-gallery__container
      .s-gallery__title Галерея
      +slider-nav().s-gallery__slider-nav
      .s-gallery__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              .s-gallery__item
                .s-gallery__item-wrap.rellax(data-rellax-speed='-0.75', data-rellax-percentage='0.5')
                  img(src='https://images.unsplash.com/photo-1532103151204-5ca98ad48335?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80', alt='/')
            .swiper-slide
              .s-gallery__item
                .s-gallery__item-wrap.rellax(data-rellax-speed='-0.75', data-rellax-percentage='0.5')
                  img(src='https://images.unsplash.com/photo-1469510038946-6bf892bbe9d6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80', alt='/')
            .swiper-slide
              .s-gallery__item
                .s-gallery__item-wrap.rellax(data-rellax-speed='-0.75', data-rellax-percentage='0.5')
                  img(src='https://images.unsplash.com/photo-1455637350775-730a9e5a8310?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80', alt='/')
            .swiper-slide
              .s-gallery__item
                .s-gallery__item-wrap.rellax(data-rellax-speed='-0.75', data-rellax-percentage='0.5')
                  img(src='https://images.unsplash.com/photo-1552793494-111afe03d0ca?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80', alt='/')
      +slider-progressbar().s-gallery__slider-progressbar