extends ../pug/layout.pug

block meta
  - var title = 'Article';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +mobile-menu()

block content
  .s-article
    .s-article__container
      .s-article__writer
        .s-article__writer-photo
          img(src='https://thumbnails.production.thenounproject.com/E8GdUkOUzjZe6ZFc9XVbHj74ldA=/fit-in/1000x1000/photos.production.thenounproject.com/photos/B1D82046-25B6-42EA-9195-8EC434256561.jpg', alt='')
        .s-article__writer-info
          .s-article__writer-name Паршина Екатерина
          .s-article__writer-direction Врач-нефролог
        time.s-article__datetime(datetime='2020-12-10') Ноябрь, 27
      .s-article__header
        +breadcrumbs()
          +breadcrumbs-item('Новости', '/')
          +breadcrumbs-item('Жирафы честно в цель шагают')
        h1.s-article__title Эх, жирафы честно в цель шагают, да щук объять за память ёлкой
      .s-article__cover
        .s-article__cover-wrap.rellax(data-rellax-speed='-0.75', data-rellax-percentage='0.5')
          img(src='https://thumbnails.production.thenounproject.com/V1eyAdoKyCKWxj9hCoipsBHG3n4=/fit-in/1000x1000/photos.production.thenounproject.com/photos/E7764D89-61FF-4139-B667-438A8D27380C.jpg', alt='')
      .s-article__main-text
        p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
        p Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку.
        p Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный риторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись.
  +make-an-appointment()