extends ../pug/layout.pug

block meta
  - var title = 'Contacts';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +mobile-menu()

block content
  .s-contacts
    .s-contacts__container
      +breadcrumbs()
        +breadcrumbs-item('Контакты')
      h1.s-contacts__title Контакты
      .s-contacts__content
        .s-contacts__info
          ul.s-contacts__list
            li.s-contacts__item
              span.s-contacts__subtitle Адрес
              .s-contacts__address
              span
                | Санкт-Петербург, Кадетская лин. д. 13-15
                br
                | Режим работы: Пн–Пт 08:00-17:00
            li.s-contacts__item
              span.s-contacts__subtitle Связаться
              a(href='tel:') +7 812 000 00 00
            li.s-contacts__item
              span.s-contacts__subtitle E-mail
              a(href='meilto:') mail@mail.ru
            li.s-contacts__item
              span.s-contacts__subtitle Мы в соц. сетях
              +social().s-contacts__social
        +form().s-contacts__form
          +field-text({
            title: 'Отзыв',
            mods: '',
            isTextarea: true,
            val: '',
            attrs: {
              name: 'name',
              placeholder: ''
            }
          }).s-contacts__form-group.s-contacts__form-group--textarea
          +field-text({
            title: 'Имя и фамилия',
            mods: '',
            val: '',
            attrs: {
              name: 'name',
              placeholder: ''
            }
          }).s-contacts__form-group.s-contacts__form-group--from
          +field-text({
            title: 'Телефон',
            mods: '',
            val: '',
            attrs: {
              name: 'name',
              placeholder: ''
            }
          }).s-contacts__form-group.s-contacts__form-group--phone
          +field-text({
            title: 'E-mail',
            mods: '',
            val: '',
            attrs: {
              name: 'name',
              placeholder: ''
            }
          }).s-contacts__form-group.s-contacts__form-group--email
          +field-actions().s-contacts__form-group.s-contacts__form-group--actions
            +btn('Отправить отзыв')
      .s-contacts__map