extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block header
  +page-header('light, on-field')
  +mobile-menu()

block content
  .s-promo
    .s-promo__slider
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-wrap
                .s-promo__slide-container
                  .s-promo__slide-content
                    .s-promo__slide-content-inner
                      .s-promo__slide-title Завершён ежегодный съезд
                      .s-promo__slide-desc
                        p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
                      +btn('Подробнее', 'light-text').s-promo__slide-btn(href='/')
                .s-promo__slide-cover
                  .s-promo__slide-cover-wrap
                    img(src='https://images.unsplash.com/photo-1581091049720-5b2abf36f433?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80', alt='')
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-wrap
                .s-promo__slide-container
                  .s-promo__slide-content
                    .s-promo__slide-content-inner
                      .s-promo__slide-title Съезд эрудированных школьников
                      .s-promo__slide-desc
                        p Завершён ежегодный съезд эрудированных школьников, мечтающих глубоко проникнуть в тайны физических явлений и химических реакций.
                      +btn('Подробнее', 'light-text').s-promo__slide-btn(href='/')
                .s-promo__slide-cover
                  .s-promo__slide-cover-wrap
                    img(src='https://images.unsplash.com/photo-1581093436589-a10193587f96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80', alt='')
          .swiper-slide
            .s-promo__slide
              .s-promo__slide-wrap
                .s-promo__slide-container
                  .s-promo__slide-content
                    .s-promo__slide-content-inner
                      .s-promo__slide-title Через хрустящий камыш
                      .s-promo__slide-desc
                        p Юный директор целиком сжевал весь объём продукции фундука (товара дефицитного и деликатесного), идя энергично через хрустящий камыш.
                      +btn('Подробнее', 'light-text').s-promo__slide-btn(href='/')
                .s-promo__slide-cover
                  .s-promo__slide-cover-wrap
                    img(src='https://images.unsplash.com/photo-1581093448798-fa7eab922c96?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80', alt='')
      .s-promo__slider-nav-wrap
        .s-promo__slider-nav-container
          +slider-nav().s-promo__slider-nav

  .s-directions
    .s-directions__container
      .s-directions__title Направления
      .s-directions__list
        +direction({
          icon: '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 40 37" width="40" height="37"><path d="M31.2424 31.6624c.0217-.0323.0412-.0677.0555-.1038.0157-.0361.027-.0737.0337-.1128.009-.0384.0135-.0782.0135-.1173 0-.0392-.0045-.0783-.0135-.1166-.0067-.0384-.018-.0775-.0337-.1129-.015-.0376-.0338-.0714-.0555-.1038-.0218-.0338-.0466-.0654-.0751-.0925-.0277-.0278-.057-.0519-.0908-.0744-.033-.0219-.0667-.0414-.1043-.0557-.036-.0158-.075-.0271-.1125-.0339-.0765-.0157-.1568-.0157-.2341 0-.0398.0068-.0773.0181-.1118.0339-.0368.015-.072.0338-.1043.0557-.0323.0218-.0638.0466-.0923.0744-.0262.0271-.051.0587-.0743.0925-.021.0324-.0405.0662-.0555.1038-.0142.0361-.0255.0753-.0338.1129-.0082.0376-.012.0782-.012.1166 0 .0398.0038.0789.012.1173.0083.0399.0196.0775.0338.1128.0158.0361.0345.0715.0555.1038.0225.0331.0473.064.0743.0918.0285.0271.06.0526.0923.0752.0323.0211.0675.0414.1043.0557.0353.0143.0728.0255.1118.0338.039.0083.078.0121.1178.0121.0383 0 .078-.0038.1155-.0121.0376-.0083.0773-.0195.1126-.0338.0375-.0151.0713-.0346.1043-.0557.0337-.0218.063-.0474.0908-.0752.03-.0278.054-.0587.0758-.0918z"/><path d="M34.7771 26.5296c-.394 0-.7826.0444-1.1608.1301v-3.524c0-1.4043-.5455-2.7236-1.5359-3.7165-.9911-.9929-2.3079-1.5413-3.7088-1.5413-.6047 0-1.202.1069-1.7662.3077V7.34359c0-1.99555-1.6184-3.61877-3.6083-3.61877h-3.2953V2.23173C19.7018 1.00116 18.7031 0 17.4748 0H9.13057C7.90231 0 6.90364 1.00116 6.90364 2.23173v1.49309H3.60826C1.61918 3.72482 0 5.34728 0 7.34359V33.3827C0 35.3768 1.61843 37 3.60826 37H22.9979c.8996 0 1.7512-.331 2.4077-.9237.8704.598 1.9036.9237 2.966.9237 1.1735 0 2.2937-.3874 3.2076-1.0982.9117.7108 2.0281 1.0982 3.1979 1.0982C37.6575 37 40 34.6517 40 31.7655c0-2.8876-2.3425-5.2359-5.2229-5.2359zm-3.546-6.2597c.7646.7665 1.184 1.7834 1.184 2.8666v3.4916h-1.6635c-.003 0-.006-.0015-.0075-.0015-.0045 0-.006.0015-.009.0015h-6.4054v-3.4916c0-.3566.048-.7056.1395-1.0433.2702-1.0109.9259-1.8985 1.8421-2.4439.6227-.3693 1.3348-.5656 2.0603-.5656 1.0805-.0008 2.0957.4212 2.8595 1.1862zM8.10489 2.23173c0-.56639.4607-1.02748 1.02568-1.02748h8.34573c.5658 0 1.0242.46109 1.0242 1.02748v1.49309H8.10489V2.23173zM22.9979 35.7942H3.60826c-1.32655 0-2.40551-1.0816-2.40551-2.4115V7.34359c0-1.33213 1.07896-2.41302 2.40551-2.41302H22.9979c1.3265 0 2.407 1.08165 2.407 2.41302V18.8024c-.0458.0301-.09.0624-.1343.094-.0105.0083-.0188.0158-.03.0233-.0338.0256-.0683.0512-.1013.0782-.0158.0121-.0315.0249-.0465.0377-.0278.0218-.0548.0443-.0826.0661-.0165.0158-.0337.0294-.0502.0452-.0248.0203-.0496.0429-.0743.0639-.0173.0158-.0338.0316-.051.0474-.0226.0211-.0466.0436-.0698.0654-.0173.0158-.0338.0324-.051.0489-.0218.0218-.0443.0444-.0661.0662-.0157.0158-.0337.0339-.0495.0512-.021.0233-.0435.0459-.063.0677-.0173.0173-.0338.0361-.0495.0534-.0203.0233-.0398.0459-.0608.0692-.0158.018-.0315.0368-.0473.0556-.0195.0226-.0383.0467-.0585.07-.015.018-.0293.0376-.045.0572-.018.0225-.0375.0473-.0571.0722-.0142.0195-.0277.0383-.0435.0571-.018.0256-.036.0497-.054.076-.015.0181-.0278.0384-.0413.0579-.018.0256-.036.0512-.0532.0782-.0128.0181-.0255.0384-.0383.0565-.0173.0278-.0353.0549-.0518.0827-.012.0181-.0232.0376-.0352.0557-.0188.0301-.0368.0609-.0533.0925-.0113.0158-.0195.0323-.0293.0481-.0225.0414-.0465.0828-.0683.1234-.0037.0075-.0075.0135-.0097.0195-.0255.0474-.051.0971-.0743.146-.0075.0143-.015.0285-.021.0428-.0165.0354-.033.0707-.0488.1053-.0082.0188-.0157.0392-.024.0572-.0142.0316-.0285.0617-.0412.0933-.0083.021-.0158.0421-.0241.0632-.0135.0301-.0247.0594-.0352.0895-.009.0218-.0158.0444-.024.0662-.012.0293-.0218.0586-.0315.0872-.0083.0233-.015.0474-.0233.0692-.009.0294-.018.0579-.0278.0873-.0067.0233-.0135.0466-.0202.0714-.009.0286-.0173.058-.0255.0873-.006.0226-.0128.0474-.018.0714-.009.0286-.0158.058-.0218.088-.006.0234-.012.0474-.0173.0723-.006.0293-.0135.0594-.0187.0887-.006.0241-.0105.0489-.015.0737-.006.0294-.0113.0595-.0165.0895-.0045.0249-.0083.0474-.0128.073-.0045.0308-.0097.0617-.0142.0918-.0038.024-.0075.0474-.0098.0722-.0045.0316-.0082.0632-.012.0963-.0022.0225-.0045.0466-.0075.0699-.003.0324-.0053.0662-.0075.0993-.003.0218-.0053.0444-.006.0662-.003.0376-.0038.0737-.006.1106 0 .018-.0015.0376-.003.0556-.0008.0557-.0015.1114-.0015.1678v8.6072c0 .0895.0015.179.0067.2678.0008.0286.0038.0564.006.0857.0045.0595.0083.1197.0158.1791.003.0338.0068.0677.012.1008.0068.0556.0135.1105.0218.1654.006.0339.0105.0692.0157.1031.0105.0542.0203.1083.0308.1632.0075.0324.015.0655.021.0978.0127.0587.0278.1166.0435.1738.0075.0263.0143.0541.0203.0812.0232.0812.048.1632.075.243.0015.003.0015.0052.0023.0082.0277.0828.0577.1663.0907.2475.0098.0241.0195.0489.0301.0737.0232.0572.0472.1128.072.1692.0135.0294.027.058.0413.0873.0232.0512.0472.1015.075.1512.015.0293.03.0594.0465.0888.0255.0488.0533.0977.081.1466.0158.0279.0323.0557.0488.0835.0315.0512.0623.1016.0953.1512.0158.0233.03.0474.0465.0715.0458.0669.0923.1331.1403.197.0045.0061.0083.0121.0128.0173.0525.0715.1088.1407.1643.2084.0173.0195.0353.0399.0525.0594.0308.0361.0615.0737.0938.1098-.4232.337-.9454.5205-1.4946.5205zm2.7386-.98c-.8928-.7718-1.4061-1.891-1.4061-3.0712v-3.9121h5.8127v1.5728c0 .3332.2686.6025.6018.6025.3309 0 .5995-.2685.5995-.6025v-1.5728h1.0714v3.9121c0 .1399-.0075.2783-.0195.4152-.0142.1376-.0352.2723-.0623.4054-.1628.7996-.5634 1.53-1.1682 2.1099-.7548.7228-1.7467 1.1207-2.7934 1.1207-.9679 0-1.9043-.3482-2.6359-.98zm12.2752-.659l-2.6044-2.6123c-.2348-.2354-.6145-.2354-.8501-.0008-.2348.2355-.2348.6161 0 .8523l2.6059 2.6123c-.6686.4949-1.4924.7875-2.386.7875-.8426 0-1.6515-.261-2.3275-.7431.0157-.0211.0323-.0421.048-.0617.0195-.0256.0398-.0496.0585-.076.0323-.0436.0646-.0872.0961-.1324.0157-.0225.033-.0451.0487-.0684.0406-.0587.0788-.1173.1156-.1783.006-.0097.0135-.0173.0188-.0263.0427-.0707.0832-.1407.123-.2114.012-.0218.0233-.0443.0353-.0661.0262-.0497.0525-.1008.0787-.1512.0128-.0271.0248-.0534.0398-.0813.0218-.0474.0443-.0947.063-.1421.0135-.0279.0263-.0572.0383-.085.0188-.0489.0398-.0978.0578-.1467.0105-.0278.021-.0542.0315-.0827.0203-.0565.0398-.1136.0578-.1716.0067-.0195.0142-.0406.0195-.0601.0247-.0782.0472-.1565.0675-.2355.0045-.0173.0083-.0346.0135-.0519.015-.0631.0285-.1248.0413-.188.0075-.0278.012-.0572.0172-.085.0098-.0534.0203-.1061.0278-.1595.0053-.0301.0098-.0616.015-.0932.0068-.0519.0135-.1038.0188-.1572.0037-.0301.0075-.0617.0097-.0926.006-.0556.0098-.112.0128-.17.003-.027.0045-.0534.006-.0804.0045-.0835.006-.1678.006-.2513v-3.8391c.3751-.1129.7638-.1708 1.1607-.1708 2.2172 0 4.0217 1.809 4.0217 4.0317.0015.8921-.2919 1.7188-.7863 2.3882z"/><path d="M9.33237 11.8333l-2.75065 2.7576-1.14048-1.1434c-.23485-.2347-.61451-.2347-.85011 0-.23484.2355-.23484.6161 0 .8523l1.56516 1.569c.1178.1174.27087.1753.42468.1753.15306 0 .30763-.0579.42468-.1753l3.17535-3.1832c.2348-.2355.2348-.6161 0-.8523-.23262-.2354-.61378-.2354-.84863 0z"/><path d="M18.5635 13.7801h-6.2591c-.3324 0-.601.2693-.601.6018 0 .3332.2679.6025.601.6025h6.2591c.3309 0 .5995-.2686.5995-.6025 0-.3325-.2686-.6018-.5995-.6018z"/><path d="M21.0223 13.7914c-.0383.0067-.0758.018-.111.0338-.0376.0158-.0721.0338-.1051.0542-.033.0233-.063.0481-.0915.0767-.027.0278-.0525.0579-.0751.0917-.0202.0324-.0412.0662-.054.1031-.0157.0369-.027.076-.0352.1128-.0075.0391-.012.0783-.012.1174 0 .0398.0045.0789.012.1173.0082.0384.0195.0775.0352.1128.0135.0361.0338.0715.054.1038.0218.0331.0473.0647.0751.0926.0285.0263.0585.0519.0915.0744.033.0211.0675.0399.1051.0557.036.0143.0735.0271.111.0338.0398.0083.0788.0121.1171.0121.1583 0 .3128-.064.4246-.1753.1126-.1121.1756-.2678.1756-.4265s-.063-.3136-.1756-.425c-.1395-.1414-.3466-.2046-.5417-.1654z"/><path d="M9.33237 18.7995l-2.75065 2.7582-1.14048-1.144c-.23485-.2347-.61451-.2347-.85011 0-.23484.2354-.23484.6168 0 .8522l1.56516 1.569c.1178.1174.27087.1761.42468.1761.15306 0 .30763-.0587.42468-.1761l3.17535-3.1832c.2348-.2354.2348-.616 0-.8522-.23262-.2347-.61378-.2347-.84863 0z"/><path d="M18.5635 20.7452h-6.2591c-.3324 0-.601.27-.601.6025 0 .3332.2679.6033.601.6033h6.2591c.3309 0 .5995-.2693.5995-.6033 0-.3317-.2686-.6025-.5995-.6025z"/><path d="M21.0223 20.7574c-.0383.0083-.0758.0195-.1111.0346-.0375.0158-.072.0338-.105.0564-.033.0203-.063.0466-.0915.0745-.1118.1113-.1756.2662-.1756.425 0 .0398.0045.0789.012.1181.0082.0383.0195.0767.0353.112.0135.0369.0337.0715.054.1046.0217.0323.0472.0624.075.0902.0285.0286.0585.0535.0916.0753.033.0233.0675.0413.105.0556.036.0158.0735.0271.111.0354.0398.0067.0788.012.1171.012.1583 0 .3129-.0647.4247-.1775.1125-.1113.1756-.2663.1756-.425s-.0631-.3137-.1756-.425c-.1396-.1406-.3474-.2061-.5425-.1662z"/><path d="M9.70683 25.4592c-.23485-.2354-.61451-.2354-.85011 0l-1.46911 1.4735-1.46987-1.4735c-.23484-.2354-.61526-.2354-.8501 0-.23485.2354-.23485.616 0 .8522L6.5375 27.785l-1.46986 1.4727c-.23485.2355-.23485.6168 0 .8523.11705.118.27086.176.42392.176.15457 0 .30838-.058.42543-.176l1.46987-1.4728L8.85597 30.11c.1178.118.27087.176.42393.176.15532 0 .30838-.058.42543-.176.23485-.2355.23485-.6161 0-.8523L8.23621 27.785l1.46912-1.4736c.2371-.2362.2371-.6168.0015-.8522z"/><path d="M18.5635 27.7121h-6.2591c-.3324 0-.601.2708-.601.6032 0 .3325.2679.6025.601.6025h6.2591c.3309 0 .5995-.27.5995-.6025 0-.3324-.2686-.6032-.5995-.6032z"/><path d="M21.0223 27.724c-.0383.0083-.0758.0196-.111.0339-.0376.0157-.0721.0353-.1051.0556-.033.0226-.063.0474-.0915.0767-.027.0264-.0525.058-.0751.0903-.0202.0331-.0412.0677-.054.1046-.0157.0361-.027.0744-.0352.112-.0075.0391-.012.0783-.012.1181 0 .0384.0045.0783.012.1174.0082.0383.0195.0759.0352.1128.0135.0361.0338.0699.054.1038.0218.0331.0473.0639.0751.091.0285.0278.0585.0534.0915.076.033.021.0675.0398.1051.0549.036.015.0735.0263.111.0338.0398.0083.0788.0128.1171.0128.1583 0 .3128-.0654.4246-.1767.1126-.1114.1756-.2663.1756-.425s-.063-.3137-.1756-.425c-.1388-.1422-.3466-.2054-.5417-.167z"/></svg>',
          title: 'Амбулаторное лечение'
        })
        +direction({
          icon: '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 40 35" width="40" height="35"><path d="M2.73806 35H29.0304c.3192 0 .6275-.0536.9202-.1584.5331.1048 1.0779.1584 1.6228.1584C36.2199 35 40 31.182 40 26.49c0-3.1291-1.732-6.0296-4.4451-7.5027v-8.1199c.494-.0386.953-.2506 1.3073-.6084.3927-.39648.6097-.92378.6097-1.48417 0-1.15942-.9336-2.1013-2.081-2.1013H27.755c-.5558 0-1.0779.21833-1.4713.61478-.3926.39725-.6096.92454-.6096 1.48652 0 1.10187.8461 2.00907 1.9177 2.09337v8.1199c-.7063.3823-1.355.8662-1.9349 1.4408-.3606.3602-.6892.7527-.9804 1.1704l-3.9838-5.4668V4.92456c.633-.01261 1.2262-.26719 1.675-.7204.4605-.46503.7142-1.08296.7142-1.74109C23.0819 1.10503 21.9884 0 20.6435 0h-9.5186c-.651 0-1.26368.256158-1.72419.721185-.46052.465025-.71419 1.083755-.71419 1.741885 0 1.34148 1.06777 2.43548 2.38998 2.46149V16.1333L.535393 30.5972c-.6158413.8442-.707164 1.9508-.238843 2.8855C.76409 34.4191 1.69995 35 2.73806 35zM25.4657 22.6807c.0078-.0126.0164-.026.0242-.0394.2958-.4753.6478-.9174 1.0451-1.3139.5753-.5714 1.2317-1.0357 1.9513-1.3825.2178-.1048.356-.3263.356-.5698v-9.1319c0-.34837-.2795-.63132-.6252-.63132h-.4621c-.4574 0-.8305-.37597-.8305-.83784 0-.22463.0866-.43508.2435-.5935.1569-.15843.3653-.24592.587-.24592h7.6359c.4582 0 .8305.37676.8305.83863 0 .22306-.0866.4335-.2435.59192-.1569.15843-.3653.24592-.587.24592h-.4613c-.345 0-.6252.28217-.6252.63131v9.1335c0 .2435.1382.465.356.5698 2.4844 1.1965 4.0892 3.7652 4.0892 6.5451 0 3.9961-3.2197 7.2473-7.1762 7.2473-.0812 0-.1624-.0016-.2436-.0047.0055-.0087.0102-.0173.0156-.026.0281-.0449.0539-.0891.0789-.1348.007-.0134.0148-.026.0218-.0394.0297-.0568.0586-.1151.0843-.1742.0055-.0126.0102-.0244.0156-.037.0211-.0489.0406-.0986.0586-.149.0062-.0166.0125-.0331.0179-.0497.0211-.0622.0406-.1253.0578-.1891.0531-.201.0819-.4059.089-.6093.0203-.6108-.1632-1.2177-.5339-1.7253l-5.7697-7.9189zM1.5415 31.3452l10.6629-14.631c.0796-.1088.1217-.2404.1217-.3744V4.29401c0-.34837-.2802-.63133-.6252-.63133h-.576c-.6556 0-1.18797-.53833-1.18797-1.19961 0-.32079.12407-.62267.34817-.84888.224-.22699.5221-.35152.8398-.35152h9.5194c.6549 0 1.188.53911 1.188 1.2004 0 .32079-.1233.62187-.3481.84887-.2248.22621-.523.35074-.8399.35074h-.576c-.345 0-.6252.28217-.6252.63133V16.3406c0 .134.0429.2656.1217.3744l10.6106 14.5585.0531.0725c.0148.0197.0265.041.0398.0607.0187.0276.0375.0544.0539.0827.0015.0024.0023.0048.0031.0071.1943.3413.2466.7307.1467 1.1145-.0148.0552-.032.1096-.0523.1632-.1428.3712-.4246.6762-.7782.8362-.1896.0844-.3949.1277-.6104.1277H2.73806c-.57213 0-1.06855-.3082-1.32691-.8244-.25835-.5163-.20918-1.1027.13035-1.5685z"/><path d="M33.1118 23.2222c1.2402.5975 2.0426 1.8806 2.0426 3.2679 0 .3483.2795.6313.6252.6313.345 0 .6252-.2822.6252-.6313 0-1.8712-1.0818-3.6013-2.7545-4.4076-.3114-.1497-.6845-.0165-.8328.298-.1483.3144-.0172.6912.2943.8417z"/><path d="M5.67206 31.3695H26.0963c.2357 0 .4511-.134.5581-.346.1061-.2128.085-.4674-.0547-.659l-6.1459-8.4319c-.1179-.1616-.3052-.257-.5034-.257h-8.1332c-.199 0-.3864.0954-.5034.257l-6.14518 8.4319c-.13972.1916-.16079.4462-.05464.659.10615.2128.32236.346.55808.346zm6.46124-8.4328h7.5017l5.2257 7.1701H6.90843l5.22487-7.1701z"/><path d="M17.1256 25.8909h-.6166v-.6218c0-.3484-.2794-.6314-.6252-.6314-.345 0-.6252.2822-.6252.6314v.6218h-.6159c-.3449 0-.6252.283-.6252.6314s.2795.6313.6252.6313h.6159v.6227c0 .3484.2802.6313.6252.6313s.6252-.2822.6252-.6313v-.6227h.6166c.345 0 .6252-.2822.6252-.6313 0-.3484-.2802-.6314-.6252-.6314z"/><path d="M17.1257 15.9921c.345 0 .6252-.2821.6252-.6313V6.57812c0-.34759-.2795-.63134-.6252-.63134-.345 0-.6253.28296-.6253.63134v8.78348c0 .3484.2803.6305.6253.6305z"/><path d="M17.1257 18.7577c.1639 0 .3254-.067.4417-.1844.1156-.1166.1827-.279.1827-.446 0-.1663-.0671-.3287-.1827-.4461-.0288-.0283-.0608-.0543-.0944-.0788-.0344-.022-.071-.0425-.1085-.0575-.0375-.0166-.0773-.0276-.1171-.0355-.2037-.0417-.4191.026-.5643.1718-.1163.1182-.1827.2798-.1827.4461 0 .1662.0664.3294.1827.446.1171.1174.2779.1844.4426.1844z"/></svg>',
          title: 'Амбулаторный даилиз'
        })
        +direction({
          icon: '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 40 37" width="40" height="37"><path d="M34.5856.528833c-.3547-.348285-.8283-.53780355-1.3312-.52850642C32.7522.0081934 32.2851.20987 31.9399.568882L11.2878 22.0896c-.6868.7159-.6693 1.8201.0394 2.5145l3.5639 3.4922c.3613.354.832.5313 1.3028.5313.4518 0 .905-.1637 1.2627-.4927L39.4195 7.89717c.3664-.33756.5722-.79455.5802-1.28801.0073-.49204-.1839-.95618-.5393-1.30446L34.5856.528833zm4.0333 6.533737L16.6559 27.3003c-.2671.246-.6788.2403-.9379-.0143l-3.5646-3.4929c-.2591-.2532-.2657-.6579-.0153-.919L32.7916 1.35342c.127-.13159.2964-.20526.481-.20812h.0117c.1795 0 .3481.06866.4759.19381l4.8732 4.77587c.1307.1273.2.29679.1971.47701-.0022.18022-.0781.34757-.2116.47058z"/><path d="M21.43 16.256c-.1117-.1101-.2649-.1716-.4233-.1674-.1569.0022-.3073.0673-.416.1803l-6.3673 6.6345c-.2161.2253-.2102.5786.0138.7967l1.5751 1.5448c.1138.1116.2635.1673.4131.1673.1438 0 .2883-.0515.4007-.1559l6.7709-6.2383c.1153-.1066.1817-.2532.1839-.4084.0029-.1552-.0584-.3047-.1708-.4141L21.43 16.256zm-5.1915 7.7867l-.7751-.7595 5.5659-5.8 1.1277 1.1057-5.9185 5.4538z"/><path d="M5.17233 37c.22626 0 .45179-.0143.67731-.0386H18.8229c.3233 0 .5846-.2568.5846-.5729s-.2605-.5728-.5846-.5728H8.78003c.21677-.1616.42478-.3369.6233-.5307l5.00177-4.901c.1094-.1073.1715-.2531.1715-.4048 0-.1516-.0621-.2975-.1715-.4047l-4.58648-4.4941c-.10948-.1073-.25837-.1681-.4131-.1681-.15546 0-.30362.0608-.4131.1681L.171335 33.7217c-.2284465.2238-.2284465.5864 0 .8103l.770001.7538C2.10692 36.4286 3.63963 37 5.17233 37zm4.23173-10.7053l3.76024 3.6845-4.58863 4.4963c-.78825.7723-1.78451 1.2193-2.81507 1.3431h-.00146c-1.42031.1694-2.90411-.2775-3.9916-1.3431l-.35617-.349 7.99269-7.8318z"/><path d="M5.17231 34.6928c1.1831 0 2.2954-.4513 3.13182-1.2708.22845-.2239.22845-.5865 0-.8103-.22845-.2239-.59848-.2239-.82693 0-.616.6036-1.43417.9361-2.30489.9361-.32333 0-.58462.2561-.58462.5729 0 .3168.26056.5721.58462.5721z"/><path d="M33.1041 3.75051c-.2284-.22385-.5977-.22385-.8269 0-.2292.22385-.2284.58644 0 .81028l3.0683 3.00584c.1139.11157.2635.16735.4131.16735.1489 0 .2993-.05578.4131-.16735.2277-.22385.2277-.58572 0-.81028l-3.0676-3.00584z"/><path d="M30.7809 6.31676c-.2284-.22385-.5984-.22385-.8269 0-.2284.22384-.2284.58643 0 .81028l2.772 2.71619c.1146.11228.2642.16807.4138.16807.1497 0 .2986-.05579.4124-.16807.2285-.22384.2285-.58572 0-.80956l-2.7713-2.71691z"/><path d="M28.4578 8.88261c-.2285-.22385-.5978-.22385-.827 0-.2284.22384-.2284.58643 0 .81028l2.4779 2.42731c.1139.1115.2635.1673.4131.1673s.2993-.0558.4131-.1673c.2285-.2239.2285-.5865 0-.8103l-2.4771-2.42729z"/><path d="M26.1346 11.4487c-.2284-.2239-.5977-.2239-.8269 0-.2277.2238-.2277.5864 0 .8103l2.1816 2.1369c.1138.1116.2634.1673.4131.1673.1488 0 .2992-.0557.4131-.1673.2277-.2239.2277-.5857 0-.8096l-2.1809-2.1376z"/><path d="M20.827 36.9178c.0358.0143.073.0251.1095.0329.0372.0072.0759.0115.1139.0115.0372 0 .0759-.0043.1138-.0115.038-.0078.0745-.0186.1095-.0329.0358-.015.0701-.0321.1015-.0522.0313-.0214.0613-.045.089-.0715.1088-.1073.1701-.2546.1701-.4048 0-.1516-.0613-.2989-.1701-.4047-.0277-.0265-.0577-.0508-.089-.0716-.0314-.0207-.0657-.0386-.1015-.0529-.0358-.0143-.0722-.025-.1095-.0329-.0759-.015-.1532-.015-.2284 0-.0372.0079-.0745.0186-.1095.0329-.035.015-.0686.0322-.1007.0529-.0321.0201-.062.0451-.0883.0716-.1095.1058-.1715.2531-.1715.4047 0 .1502.062.2975.1715.4048.0263.0258.0562.0494.0883.0715.0328.0201.0664.0372.1014.0522z"/></svg>',
          title: 'Биопсия почки'
        })
        +direction({
          icon: '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 40" width="24" height="40"><path d="M6.27964 7.77856H17.7189c.9734 0 1.7639-.77823 1.7639-1.73547v-1.0695c0-.95724-.7905-1.73547-1.7639-1.73547H6.27964c-.97333 0-1.76541.77823-1.76541 1.73547v1.0695c0 .95648.79208 1.73547 1.76541 1.73547zm-.53063-2.80573c0-.28748.23678-.5211.53063-.5211H17.7189c.2923 0 .5307.23362.5307.5211v1.0695c0 .28747-.2384.52109-.5307.52109H6.27964c-.29385 0-.53063-.23362-.53063-.52109v-1.0695z"/><path d="M14.7788 34.1875c.3417 0 .6178-.2715.6178-.6075v-2.6897h3.237c1.0744 0 1.9459-.8586 1.9459-1.913v-1.8765c0-.3057.199-.5734.4943-.6652 1.7493-.5477 2.9254-2.1276 2.9254-3.9321V5.43169C23.9992 2.43709 21.5212 0 18.4755 0H5.52221C2.47805 0 0 2.43709 0 5.43169V22.5042c0 1.8045 1.17463 3.3845 2.92384 3.9321.29693.0918.49592.3596.49592.6652v1.8766c0 1.0551.87229 1.913 1.94434 1.913h3.23851v2.6896c0 .3353.27534.6076.61623.6076h2.16336v3.3382c0 1.3638 1.1284 2.4735 2.5143 2.4735h9.4857c.3402 0 .6178-.2715.6178-.6076 0-.336-.2769-.6075-.6178-.6075h-9.4864c-.705 0-1.2788-.5644-1.2788-1.2584v-3.3382l2.1618-.0008zM4.65454 28.9773v-1.8765c0-.8374-.54528-1.5694-1.35587-1.8227-1.23555-.3861-2.06389-1.5011-2.06389-2.7739V5.43169c0-2.32483 1.92352-4.21732 4.28743-4.21732H18.4755c2.3647 0 4.2874 1.89173 4.2874 4.21732V22.5042c0 1.2736-.8283 2.3878-2.0623 2.7739-.8122.2533-1.3575.9861-1.3575 1.8227v1.8765c0 .3854-.3177.6986-.7095.6986H5.3641c-.3918 0-.70956-.3132-.70956-.6986zm5.18285 1.913h4.32211v2.0821H9.83739v-2.0821z"/><path d="M10.0033 22.6339c1.3103-.7737 2.1764-2.2922 2.2628-3.9655.071-1.3623-.3509-2.8376-1.2155-4.2689-.4519-.7456-1.0096-1.3827-1.55175-1.9994-.41262-.4718-.80288-.917-1.14609-1.4048-.11414-.1638-.30464-.2617-.50748-.2617-.20207 0-.3918.0979-.50749.2617-.34167.4878-.73346.9322-1.14609 1.4048-.54065.6167-1.09981 1.253-1.55023 1.9994-.86612 1.4313-1.28645 2.9066-1.2155 4.2682.08561 1.6725.95174 3.1918 2.26133 3.9662.6386.377 1.38441.5772 2.16029.5787.7728-.0022 1.51861-.2017 2.15571-.5787zm-5.34486-4.0277c-.05861-1.1218.30311-2.3605 1.04274-3.5855.39643-.6546.8962-1.2242 1.42529-1.8272.23986-.2723.48357-.5514.71881-.8404.23677.2897.48049.5681.72035.8404.52754.603 1.02732 1.1726 1.42374 1.8272.74123 1.2243 1.10133 2.4637 1.04273 3.5855-.0648 1.2743-.7018 2.4181-1.66282 2.9863-.44578.2639-.97332.4035-1.52169.405-.5499-.0015-1.07667-.1418-1.52478-.405-.96175-.5682-1.59958-1.712-1.66437-2.9863z"/><path d="M17.7868 10.7345h-3.4422c-.3401 0-.6162.2715-.6162.6075s.2753.6076.6162.6076h3.4422c.3416 0 .6177-.2716.6177-.6076s-.2761-.6075-.6177-.6075z"/><path d="M19.3562 11.4604c.0093.0387.0209.0774.0363.1138s.0347.0721.0555.1054c.0224.0326.0494.0637.0787.0918.0285.0273.0601.0531.0933.0759.0347.0212.071.0402.1072.0546.0378.0159.0756.0273.1142.0349.0408.0083.0809.0129.1218.0129.1612 0 .3209-.0653.435-.1775.0301-.0281.0555-.0592.0787-.0918.0224-.0334.0409-.069.0571-.1054.0138-.0372.0254-.0759.0347-.1138.0077-.0387.0123-.0789.0123-.1183 0-.1601-.0663-.3171-.182-.4294-.1419-.141-.3556-.2055-.5576-.1661-.0394.0084-.0772.019-.1142.0349-.0362.0152-.0725.0342-.1072.0554-.0332.022-.0648.0478-.0933.0758-.1142.1123-.1805.2693-.1805.4294-.0008.0394.0023.0788.01.1175z"/><path d="M17.7868 14.4883h-3.4422c-.3401 0-.6162.2715-.6162.6076 0 .336.2753.6075.6162.6075h3.4422c.3416 0 .6177-.2715.6177-.6075 0-.3361-.2761-.6076-.6177-.6076z"/><path d="M20.534 14.8638c-.0162-.0372-.0347-.0728-.0571-.1054-.0224-.0334-.0486-.0645-.0787-.0926-.1419-.1411-.3555-.2055-.5576-.1661-.0393.0076-.0771.019-.1141.0341-.0363.016-.0725.0357-.1072.0562-.0332.022-.0648.0477-.0934.0758-.0285.0281-.0555.0592-.0786.0926-.0208.0326-.0409.0682-.0555.1054-.0155.0364-.027.0743-.0363.113-.0077.0394-.0108.0789-.0108.1183 0 .0395.0031.0789.0108.1184.0093.0386.0208.0773.0363.113.0154.0371.0347.072.0555.1054.0223.0341.0493.0652.0786.0925.0286.0281.0602.0531.0934.0759.0347.0212.0709.041.1072.0554.0378.0159.0756.0265.1141.0349.0409.0075.081.0121.1219.0121.1612 0 .3208-.0652.435-.1775.0301-.0273.0555-.0584.0786-.0925.0224-.0334.0409-.0683.0571-.1055.0139-.0364.0255-.0751.0347-.113.0077-.0394.0124-.0789.0124-.1183 0-.0402-.0047-.0789-.0124-.1183-.0077-.0395-.02-.0774-.0339-.1138z"/><path d="M17.7868 18.2437h-3.4422c-.3401 0-.6162.2715-.6162.6075 0 .3345.2753.6076.6162.6076h3.4422c.3416 0 .6177-.2723.6177-.6076 0-.336-.2761-.6075-.6177-.6075z"/><path d="M20.534 18.6183c-.0162-.0371-.0347-.072-.0571-.1054-.0224-.0326-.0486-.0637-.0787-.0925-.1419-.1411-.3555-.2056-.5576-.1661-.0393.0083-.0771.0197-.1141.0349-.0363.0159-.0725.0341-.1072.0561-.0332.022-.0648.0478-.0934.0751-.0285.0288-.0555.0599-.0786.0925-.0208.0334-.0409.0683-.0555.1054-.0147.0372-.027.0751-.0363.1131-.0077.0394-.0108.0788-.0108.1191 0 .16.0663.3162.1805.4285.0285.0281.0601.0539.0933.0759.0347.022.071.0409.1072.0561.0378.0152.0756.0265.1142.0349.0408.0076.0809.0121.1218.0121.1612 0 .3209-.0652.435-.1782.1157-.1123.182-.2685.182-.4286 0-.0402-.0046-.0796-.0123-.1191-.0062-.0394-.0185-.0766-.0324-.1138z"/><path d="M17.7868 21.9974h-3.4422c-.3401 0-.6162.2715-.6162.6075 0 .3361.2753.6076.6162.6076h3.4422c.3416 0 .6177-.2715.6177-.6076 0-.336-.2761-.6075-.6177-.6075z"/><path d="M19.8414 22.0089c-.0393.0083-.0771.019-.1141.0349-.0363.0152-.0725.0341-.1072.0554-.0332.022-.0648.0478-.0934.0758-.1141.1123-.1804.2693-.1804.4293 0 .0402.0031.0797.0108.1184.0092.0394.0208.0773.0362.113.0154.0371.0347.0728.0555.1054.0224.0334.0494.0645.0787.0925.0286.0273.0602.0531.0933.0759.0347.0212.071.0409.1072.0561.0378.0152.0756.0258.1142.0334.0409.0091.081.0129.1218.0129.1612 0 .3209-.0652.435-.1775.0301-.0281.0556-.0592.0787-.0925.0224-.0327.0409-.0683.0571-.1055.0139-.0364.0254-.0743.0347-.113.0077-.0387.0123-.0789.0123-.1183 0-.1601-.0663-.3163-.182-.4293-.1427-.1411-.3563-.2063-.5584-.1669z"/><path d="M17.044 26.6579c0-.3353-.2769-.6076-.6178-.6076H7.57217c-.34167 0-.61778.2715-.61778.6076 0 .336.27534.6075.61778.6075h8.85403c.3409 0 .6178-.2715.6178-.6075z"/></svg>',
          title: 'Стационар'
        })
        +direction({
          icon: '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 40 40" width="40" height="40"><path d="M40 39.3345v-7.8252c0-2.5167-2.0521-4.5648-4.5757-4.5648h-.1107c.7345-.9373 1.1401-2.0955 1.1401-3.3152 0-1.1774-.3872-2.3207-1.0935-3.2513l.9786-9.9173c.0491-.49934-.1174-.99952-.4547-1.37092-.3373-.37141-.8195-.58411-1.3218-.58411h-1.8814V.66553C32.6809.298283 32.3828 0 32.0138 0H4.33335c-.36812 0-.66711.297452-.66711.66553V13.6355h-1.8814c-.51137 0-.998582.2193-1.33755.6007-.338136.3814-.4963768.8907-.4339133 1.3967L2.32786 34.5087c.1091.8916.87032 1.5654 1.77063 1.5654H22.0988v3.2604c0 .3664.2982.6655.6671.6655h16.5678c.3681-.0008.6663-.2991.6663-.6655zM5.00046 11.1786h5.90984c.3682 0 .6672-.2975.6672-.6655 0-.3673-.2982-.66557-.6672-.66557H5.00046V1.33106H31.3467v7.17378h-2.5743c-.8462 0-1.5816.60072-1.7506 1.4291l-.6738 3.34096c-.0417.2085-.2274.3606-.4414.3606H5.00046v-2.4569zm-.90114 23.5645c-.22653 0-.41892-.1704-.44641-.3964L1.3376 15.4709c-.02082-.1745.05997-.2958.10994-.3523.0508-.0565.16074-.152.33813-.152H25.9074c.847 0 1.5824-.6016 1.749-1.4291l.6746-3.3393c.0425-.20942.2282-.3623.4422-.3623h5.79c.1732 0 .2831.09223.334.1479.0508.0557.1315.1736.1149.3465l-.8753 8.8712c-.01-.0066-.02-.0133-.03-.0199-.0175-.0125-.035-.0233-.0525-.0349-.0583-.0391-.1166-.0764-.1757-.113-.0183-.0116-.0358-.0224-.0542-.0341-.0732-.044-.1482-.0864-.224-.1263-.0141-.0074-.0275-.0141-.0408-.0207-.065-.0341-.1291-.0665-.1949-.0973-.0208-.0099-.0425-.0199-.0633-.0299-.0791-.0357-.1582-.0706-.239-.103-.0808-.0324-.1616-.0615-.2432-.0897-.0217-.0075-.0441-.015-.0666-.0225-.0692-.0232-.1383-.044-.2082-.0648-.0159-.0041-.03-.0091-.045-.0133-.0833-.0224-.1666-.0432-.2507-.0623-.0208-.0041-.0416-.0091-.0633-.0133-.0683-.0149-.1366-.0274-.2057-.0399-.0208-.0033-.0425-.0074-.0633-.0108-.0858-.0141-.1716-.0257-.2582-.0357-.0158-.0008-.0316-.0025-.0475-.0041-.0732-.0075-.1465-.0133-.2207-.0175-.0241-.0008-.0483-.0025-.0716-.0041-.0883-.0042-.1766-.0075-.2657-.0075-2.9799 0-5.4043 2.4187-5.4043 5.3915 0 1.2239.4098 2.3821 1.1402 3.3152h-.1108c-2.5227 0-4.5757 2.0481-4.5757 4.5649v3.2346H4.09932zm34.56728 3.925h-2.486v-4.2233c0-.3681-.2982-.6656-.6671-.6656-.3682 0-.6672.2967-.6672.6656v4.2233h-7.5938v-4.2233c0-.3681-.2982-.6656-.6672-.6656-.3689 0-.6671.2967-.6671.6656v4.2233h-2.486v-7.1588c0-1.6161 1.1943-2.9596 2.7484-3.1972.1607-.0241.3256-.0374.493-.0374h1.8215c.2956 0 .5563-.1944.6404-.4778.0833-.2841-.0308-.5882-.2798-.7469-1.1752-.752-1.8764-2.0299-1.8764-3.4207 0-2.2392 1.8256-4.0614 4.0701-4.0614.075 0 .1499.0017.2249.0059.0849.0041.169.0124.2523.0224 1.0211.1196 1.9622.6198 2.6343 1.415.6188.7287.9586 1.6584.9586 2.6172 0 1.2414-.558 2.3988-1.5308 3.1731-.1091.0865-.2257.1712-.3456.2476-.249.1587-.3631.4645-.2798.747.0833.2825.3439.4778.6404.4778h1.8215c1.7873 0 3.2422 1.4507 3.2422 3.2346l-.0008 7.1596z"/><path d="M19.2888 21.7132h-2.3786v-2.3738c0-.3672-.2982-.6655-.6671-.6655h-4.7964c-.3681 0-.6671.2983-.6671.6655v2.3738H8.401c-.36812 0-.66711.2975-.66711.6655v4.7851c0 .3672.29816.6655.66711.6655h2.3786v2.3738c0 .3672.299.6655.6671.6655h4.7964c.3681 0 .6671-.2974.6671-.6655v-2.3738h2.3794c.369 0 .6672-.2975.6672-.6655v-4.7851c-.0009-.368-.299-.6655-.668-.6655zm-.6663 4.7842h-2.3794c-.3681 0-.6671.2983-.6671.6655v2.3738h-3.463v-2.3738c0-.3664-.2982-.6655-.6671-.6655H9.06728v-3.454h2.37862c.3681 0 .6671-.2974.6671-.6655v-2.3738h3.463v2.3738c0 .3673.299.6655.6671.6655h2.3794v3.454z"/><path d="M14.6623 9.95969c-.0349-.02327-.0741-.04404-.1141-.06066-.0408-.01661-.0832-.02991-.1249-.03822-.0866-.01744-.1749-.01744-.2607 0-.0424.00831-.0849.02161-.1249.03822-.04.01745-.0791.03739-.1149.06066-.0358.02492-.0708.05231-.1008.08221-.1241.1247-.1949.2958-.1949.472 0 .1745.0708.3465.1949.4694.1233.1247.2957.1961.4714.1961.0433 0 .0874-.005.1307-.0133.0417-.0083.0842-.0216.125-.0374.04-.0174.0783-.0374.1141-.0623.0375-.0232.0716-.0515.1024-.0831.0308-.0307.0575-.0648.0833-.1005.0233-.0357.045-.0748.0608-.1155.0175-.0399.03-.0814.0375-.1238.0091-.0432.0133-.0864.0133-.1296 0-.1753-.0716-.3473-.1949-.472-.0316-.0299-.0658-.05729-.1033-.08221z"/></svg>',
          title: 'Научная работа'
        })
        +direction({
          icon: '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 40 30" width="40" height="30"><path d="M38.8626 5.39816c-.0029-.00809-.0044-.01545-.0073-.02281-.6617-2.08736-2.7985-3.95023-4.9701-4.3337-.0058-.00073-.0102-.0022-.0145-.0022-9.2046-1.385932-18.5376-1.385932-27.74145 0-.00436 0-.01016.00147-.01452.0022-2.1709.38347-4.30843 2.24634-4.97015 4.3337-.0029.00736-.00435.01545-.00725.02281-1.51644 5.54224-1.51644 13.65944 0 19.20314.0029.0073.00435.0154.00725.0228.66027 2.0859 2.79852 3.9488 4.97015 4.333.00436.0014.01016.0022.01452.0029 1.11955.1685 2.242.3165 3.36736.4438.01451.003.02975.0052.04571.0059C13.0185 29.8027 16.5107 30 20.0007 30c4.6342 0 9.2691-.3467 13.8707-1.0393.0043-.0007.0087-.0014.0145-.0029 2.1709-.3835 4.3084-2.2471 4.9701-4.333.0029-.0081.0044-.0154.0073-.0228 1.5157-5.5444 1.5157-13.6609-.0007-19.20384zM37.7459 24.273c-.534 1.6664-2.3102 3.2098-4.0516 3.5211-7.8042 1.174-15.6991 1.3389-23.5273.4969v-1.9299c0-.3253-.26189-.5888-.58259-.5888-.3207 0-.58119.2628-.58119.5888v1.7974c-.8997-.1075-1.79868-.2297-2.69548-.3644-1.74137-.3113-3.51902-1.8555-4.05303-3.5211-1.455496-5.3229-1.455496-13.2259 0-18.54804.53401-1.66636 2.31166-3.20979 4.05303-3.52113 9.08486-1.366792 18.29816-1.366792 27.38586 0 1.7414.31134 3.5176 1.85551 4.0516 3.52113 1.4562 5.32214 1.4562 13.22584.0007 18.54804z"/><path d="M16.2154 24.1501c-1.0289 0-1.8662.8486-1.8662 1.8923s.8373 1.8916 1.8662 1.8916c1.0274 0 1.8647-.8479 1.8647-1.8916 0-1.0437-.8373-1.8923-1.8647-1.8923zm0 2.6055c-.3882 0-.7046-.3202-.7046-.7132 0-.3938.3164-.714.7046-.714s.703.3202.703.714-.3148.7132-.703.7132z"/><path d="M20.8779 24.1501c-1.0289 0-1.8662.8486-1.8662 1.8923s.8373 1.8916 1.8662 1.8916c1.0288 0 1.8661-.8479 1.8661-1.8916 0-1.0437-.8373-1.8923-1.8661-1.8923zm0 2.6055c-.3882 0-.7031-.3202-.7031-.7132 0-.3938.3149-.714.7031-.714.3867 0 .7031.3202.7031.714s-.3164.7132-.7031.7132z"/><path d="M25.5404 24.1501c-1.0288 0-1.8647.8486-1.8647 1.8923s.8359 1.8916 1.8647 1.8916c1.0289 0 1.8662-.8479 1.8662-1.8916 0-1.0437-.8373-1.8923-1.8662-1.8923zm0 2.6055c-.3882 0-.7031-.3202-.7031-.7132 0-.3938.3149-.714.7031-.714.3882 0 .7045.3202.7045.714-.0007.3938-.3163.7132-.7045.7132z"/><path d="M36.1715 13.4832c0-.0176 0-.0353-.0015-.053-.095-2.325-.3882-6.01599-.8816-8.3742-.0537-.25098-.2604-.4394-.5129-.46369-9.8039-.96861-19.7464-.96861-29.55031 0-.2525.02429-.45929.21271-.51298.46369-.55579 2.66072-.85907 6.6461-.90696 9.27-.00435.0272-.00726.0552-.00726.0839 0 .0235.00145.0464.00581.0692-.0341 2.2301.11464 5.8261.44767 8.0872.04136.2738.26339.4821.53547.5012 5.04634.3511 10.12966.5263 15.21306.5263 5.0833 0 10.1666-.1752 15.213-.5263.2721-.0184.4948-.2274.5354-.5012.381-2.5945.5232-6.5158.4223-9.075.0008-.0029.0008-.0051.0008-.0081zM5.76429 5.72357c9.44911-.90531 19.02511-.90531 28.47421 0 .3868 1.95046.6349 5.24393.7408 7.17083h-1.4496c-.238 0-.4521.148-.5399.3732l-.8061 2.0682-1.8124-4.3543c-.0806-.1958-.2591-.3312-.4666-.3555-.2082-.025-.4121.0655-.5369.2355l-1.6507 2.2788h-1.1253L24.476 9.63605c-.0936-.15382-.251-.25613-.4266-.27674-.1785-.02134-.3527.04048-.4789.16855l-3.5611 3.61244h-3.4537c-.2554 0-.4789.1685-.5544.4143l-.8061 2.6291-1.7558-5.922c-.0581-.1988-.2155-.35111-.4151-.4019-.1966-.05005-.4085.00884-.5514.1553l-3.75264 3.806H4.98067c.07038-2.2361.33159-5.835.78362-8.09753zM34.6666 21.923c-9.7342.6543-19.5962.6558-29.33185 0-.2525-1.8666-.37585-5.0783-.37149-6.9236h3.99789c.15454 0 .30183-.0625.41067-.1729l3.23388-3.2812 2.0236 6.8237c.074.2487.2989.418.5543.4195h.0029c.254 0 .4789-.1686.5544-.4144l1.2429-4.0562h3.2665c.1545 0 .3004-.0626.4092-.1722l3.2114-3.2569 1.9002 3.1472c.106.1744.2932.2819.4963.2819h1.7428c.1843 0 .3585-.0891.468-.24l1.2219-1.6832 1.967 4.7289c.0907.2186.3033.3592.5355.3592h.0072c.2351-.003.4463-.1494.5326-.3724l1.1834-3.0376h1.1014c.0544 2.1536-.0645 5.6708-.3606 7.8502z"/><path d="M10.122 24.5991c-.0152-.0361-.0326-.0707-.0536-.1023-.0211-.0317-.0458-.0626-.07115-.0891-.02684-.0272-.05804-.0515-.08924-.0736s-.0653-.0405-.10086-.0545c-.03555-.0139-.0711-.0257-.10883-.0331-.18865-.039-.38963.0228-.52313.1612-.0283.0265-.05225.0574-.07256.0891-.02104.0316-.03991.0662-.0537.1023-.01451.0346-.02539.0736-.03409.1096-.00871.0383-.01162.0766-.01162.1156 0 .039.00291.0773.01162.1148.0087.0376.01958.0744.03409.1104.01452.0354.03266.0692.0537.1009.01959.0331.04426.0633.07256.0905.10738.1089.25685.1722.40921.1722.03701 0 .07546-.0044.11319-.0125.03846-.0074.07401-.0184.10884-.0338.03555-.0148.06965-.0332.10085-.0538.0312-.0213.0624-.0463.08925-.0728.02537-.0273.04937-.0575.07107-.0906.0211-.0316.0385-.0655.0537-.1008.0145-.0368.0254-.0736.0341-.1104.0058-.0376.0116-.0766.0116-.1148 0-.0383-.0058-.0773-.0116-.1156-.008-.0353-.0196-.0743-.0334-.1089z"/></svg>',
          title: 'Телемедицина'
        })

  +doctors()

  .s-news
    .s-news__container
      .s-news__title Новости
      +slider-nav().s-news__slider-nav
      .s-news__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              +news-card({
                cover: 'https://images.unsplash.com/photo-1602797956090-ab485816ce31?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80',
                title: 'Аэрофотосъёмка ландшафта уже выявила земли богачей и процветающих крестьян'
              })
            .swiper-slide
              +news-card({
                cover: 'https://images.unsplash.com/photo-1469510038946-6bf892bbe9d6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80',
                title: 'Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования'
              })
            .swiper-slide
              +news-card({
                cover: 'https://images.unsplash.com/photo-1543269865-4430f94492b9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80',
                title: 'Шифровальщица попросту забыла ряд ключевых множителей и тэгов'
              })
            .swiper-slide
              +news-card({
                cover: 'https://images.unsplash.com/photo-1589884629000-60c572c6ba7a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80',
                title: 'Лингвисты в ужасе: фиг выговоришь этюд: «подъём челябинский, запах щец»'
              })
            .swiper-slide
              +news-card({
                cover: 'https://images.unsplash.com/photo-1532103151204-5ca98ad48335?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80',
                title: 'Съел бы ёж лимонный пьезокварц, где электрическая юла яшму с туфом похищает'
              })
      +slider-progressbar().s-news__slider-progressbar

  .s-briefly-about-us
    .s-briefly-about-us__container
      .s-briefly-about-us__intro
        .s-briefly-about-us__intro-content
          .s-briefly-about-us__title О нас
          .s-briefly-about-us__text
            p Нефрологическая служба является одним из старейших подразделений КВМТ им. Пирогова. Специалисты-нефрологи ведут пациентов со всеми стадиями заболеваний почек, от начальных изменений в анализах мочи или крови до терминальной почечной недостаточности.
            p Около 83% пациентов, обратившихся впервые в нашу нефрологическую службу, наблюдаются нами в дальнейшем на постоянной основе.
          +btn('Узнать больше о нас')
        .s-briefly-about-us__intro-cover
          .s-briefly-about-us__intro-cover-wrap.rellax(data-rellax-speed='-0.75', data-rellax-percentage='0.5')
            img(src='https://images.unsplash.com/photo-1589279003513-467d320f47eb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80', alt='', width='280', height='210')
      .s-briefly-about-us__illnesses
        .s-briefly-about-us__illnesses-content
          .s-briefly-about-us__title Заболевания
          .s-briefly-about-us__label-list
            a(href='/') Гломерулонефрит
            a(href='/') Пиелонефрит
            a(href='/') Диабет
            a(href='/') Васкулит
            a(href='/') Тубулоинтерстициальный нефрит
            a(href='/') Хроническая болезнь почек
            a(href='/') Подагра
            a(href='/') АНЦА васкулит
            a(href='/') Амилоидоз почек
            a(href='/') Тромботическая микроангиопатия
            a(href='/') Узелковый полиартериит
            a(href='/') Пурпура Шенлейн-Геноха
            a(href='/') Гломерулонефрит
            a(href='/') Острая почечная недостаточность
          +btn('Полный список')
        .s-briefly-about-us__illnesses-cover
          .s-briefly-about-us__illnesses-cover-wrap.rellax(data-rellax-speed='-0.75', data-rellax-percentage='0.5')
            img(src='https://images.unsplash.com/photo-1571582262823-cbc177e9e738?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2734&q=80', alt='', width='280', height='210')

  .s-featured-testimonials
    .s-featured-testimonials__container
      .s-featured-testimonials__title Отзывы
      .s-featured-testimonials__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              figure.s-featured-testimonials__item
                blockquote.s-featured-testimonials__quote
                  span.s-featured-testimonials__rating.s-featured-testimonials__rating--excellent
                    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 90 14', width='90', height='14')
                      path(fill='#292b22', d='M6.32776.428785c.26728-.571713 1.0772-.571713 1.34448 0L9.24115 3.78473c.10523.22508.31528.38268.56009.42023l3.56756.54725c.5975.09166.8414.82335.4193 1.2577l-2.6277 2.70397c-.1646.16938-.2393.40715-.2014.64071l.6139 3.77811c.0997.6142-.5497 1.0736-1.0922.7725l-3.12143-1.7323c-.22357-.1241-.49497-.1241-.71854 0l-3.1214 1.7323c-.54252.3011-1.19198-.1583-1.09218-.7725l.61382-3.77811c.03794-.23356-.0368-.47133-.2014-.64071L.211875 6.00991c-.422108-.43436-.1781332-1.16604.419367-1.2577l3.567518-.54725c.24481-.03755.45486-.19515.56008-.42023L6.32776.428785z')
                      path(fill='#292b22', d='M25.3278.428785c.2672-.571713 1.0772-.571713 1.3444 0l1.569 3.355945c.1052.22508.3152.38268.56.42023l3.5676.54725c.5975.09166.8414.82335.4193 1.2577l-2.6277 2.70397c-.1646.16938-.2393.40715-.2014.64071l.6139 3.77811c.0997.6142-.5497 1.0736-1.0922.7725l-3.1214-1.7323c-.2236-.1241-.495-.1241-.7186 0l-3.1214 1.7323c-.5425.3011-1.192-.1583-1.0922-.7725l.6139-3.77811c.0379-.23356-.0368-.47133-.2014-.64071l-2.6277-2.70397c-.4221-.43436-.1782-1.16604.4193-1.2577l3.5676-.54725c.2448-.03755.4548-.19515.56-.42023l1.569-3.355945z')
                      path(fill='#292b22', d='M44.3278.428785c.2672-.571713 1.0772-.571713 1.3444 0l1.569 3.355945c.1052.22508.3152.38268.56.42023l3.5676.54725c.5975.09166.8414.82335.4193 1.2577l-2.6277 2.70397c-.1646.16938-.2393.40715-.2014.64071l.6139 3.77811c.0997.6142-.5497 1.0736-1.0922.7725l-3.1214-1.7323c-.2236-.1241-.495-.1241-.7186 0l-3.1214 1.7323c-.5425.3011-1.192-.1583-1.0922-.7725l.6139-3.77811c.0379-.23356-.0368-.47133-.2014-.64071l-2.6277-2.70397c-.4221-.43436-.1782-1.16604.4193-1.2577l3.5676-.54725c.2448-.03755.4548-.19515.56-.42023l1.569-3.355945z')
                      path(fill='#292b22', d='M63.3278.428785c.2672-.571713 1.0772-.571713 1.3444 0l1.569 3.355945c.1052.22508.3152.38268.56.42023l3.5676.54725c.5975.09166.8414.82335.4193 1.2577l-2.6277 2.70397c-.1646.16938-.2393.40715-.2014.64071l.6139 3.77811c.0997.6142-.5497 1.0736-1.0922.7725l-3.1214-1.7323c-.2236-.1241-.495-.1241-.7186 0l-3.1214 1.7323c-.5425.3011-1.192-.1583-1.0922-.7725l.6139-3.77811c.0379-.23356-.0368-.47133-.2014-.64071l-2.6277-2.70397c-.4221-.43436-.1782-1.16604.4193-1.2577l3.5676-.54725c.2448-.03755.4548-.19515.56-.42023l1.569-3.355945z')
                      path(fill='#292b22', d='M82.3278.428785c.2672-.571713 1.0772-.571713 1.3444 0l1.569 3.355945c.1052.22508.3152.38268.56.42023l3.5676.54725c.5975.09166.8414.82335.4193 1.2577l-2.6277 2.70397c-.1646.16938-.2393.40715-.2014.64071l.6139 3.77811c.0997.6142-.5497 1.0736-1.0922.7725l-3.1214-1.7323c-.2236-.1241-.495-.1241-.7186 0l-3.1214 1.7323c-.5425.3011-1.192-.1583-1.0922-.7725l.6139-3.77811c.0379-.23356-.0368-.47133-.2014-.64071l-2.6277-2.70397c-.4221-.43435-.1782-1.16604.4193-1.2577l3.5676-.54725c.2448-.03755.4548-.19515.56-.42023l1.569-3.355945z')
                  p Очень понравилась врач! Спокойно и приятно пообщались, О.В. выслушала жалобы, назначила лечение и высказала несколько важных мыслей, которые помогли изменить отношение к ситуации и, как следствие, снизить уровень стресса. После встречи с врачом стала чувствовать себя лучше. При необходимости приду к ней еще.
                fogcaption.s-featured-testimonials__quotee
                  span Наталья
                  | , 02 мая 2020 г.
            .swiper-slide
              figure.s-featured-testimonials__item
                blockquote.s-featured-testimonials__quote
                  span.s-featured-testimonials__rating.s-featured-testimonials__rating--good
                    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 90 14', width='90', height='14')
                      path(fill='#292b22', d='M6.32776.428785c.26728-.571713 1.0772-.571713 1.34448 0L9.24115 3.78473c.10523.22508.31528.38268.56009.42023l3.56756.54725c.5975.09166.8414.82335.4193 1.2577l-2.6277 2.70397c-.1646.16938-.2393.40715-.2014.64071l.6139 3.77811c.0997.6142-.5497 1.0736-1.0922.7725l-3.12143-1.7323c-.22357-.1241-.49497-.1241-.71854 0l-3.1214 1.7323c-.54252.3011-1.19198-.1583-1.09218-.7725l.61382-3.77811c.03794-.23356-.0368-.47133-.2014-.64071L.211875 6.00991c-.422108-.43436-.1781332-1.16604.419367-1.2577l3.567518-.54725c.24481-.03755.45486-.19515.56008-.42023L6.32776.428785z')
                      path(fill='#292b22', d='M25.3278.428785c.2672-.571713 1.0772-.571713 1.3444 0l1.569 3.355945c.1052.22508.3152.38268.56.42023l3.5676.54725c.5975.09166.8414.82335.4193 1.2577l-2.6277 2.70397c-.1646.16938-.2393.40715-.2014.64071l.6139 3.77811c.0997.6142-.5497 1.0736-1.0922.7725l-3.1214-1.7323c-.2236-.1241-.495-.1241-.7186 0l-3.1214 1.7323c-.5425.3011-1.192-.1583-1.0922-.7725l.6139-3.77811c.0379-.23356-.0368-.47133-.2014-.64071l-2.6277-2.70397c-.4221-.43436-.1782-1.16604.4193-1.2577l3.5676-.54725c.2448-.03755.4548-.19515.56-.42023l1.569-3.355945z')
                      path(fill='#292b22', d='M44.3278.428785c.2672-.571713 1.0772-.571713 1.3444 0l1.569 3.355945c.1052.22508.3152.38268.56.42023l3.5676.54725c.5975.09166.8414.82335.4193 1.2577l-2.6277 2.70397c-.1646.16938-.2393.40715-.2014.64071l.6139 3.77811c.0997.6142-.5497 1.0736-1.0922.7725l-3.1214-1.7323c-.2236-.1241-.495-.1241-.7186 0l-3.1214 1.7323c-.5425.3011-1.192-.1583-1.0922-.7725l.6139-3.77811c.0379-.23356-.0368-.47133-.2014-.64071l-2.6277-2.70397c-.4221-.43436-.1782-1.16604.4193-1.2577l3.5676-.54725c.2448-.03755.4548-.19515.56-.42023l1.569-3.355945z')
                      path(fill='#292b22', d='M63.3278.428785c.2672-.571713 1.0772-.571713 1.3444 0l1.569 3.355945c.1052.22508.3152.38268.56.42023l3.5676.54725c.5975.09166.8414.82335.4193 1.2577l-2.6277 2.70397c-.1646.16938-.2393.40715-.2014.64071l.6139 3.77811c.0997.6142-.5497 1.0736-1.0922.7725l-3.1214-1.7323c-.2236-.1241-.495-.1241-.7186 0l-3.1214 1.7323c-.5425.3011-1.192-.1583-1.0922-.7725l.6139-3.77811c.0379-.23356-.0368-.47133-.2014-.64071l-2.6277-2.70397c-.4221-.43436-.1782-1.16604.4193-1.2577l3.5676-.54725c.2448-.03755.4548-.19515.56-.42023l1.569-3.355945z')
                      path(fill='#292b22', d='M82.3278.428785c.2672-.571713 1.0772-.571713 1.3444 0l1.569 3.355945c.1052.22508.3152.38268.56.42023l3.5676.54725c.5975.09166.8414.82335.4193 1.2577l-2.6277 2.70397c-.1646.16938-.2393.40715-.2014.64071l.6139 3.77811c.0997.6142-.5497 1.0736-1.0922.7725l-3.1214-1.7323c-.2236-.1241-.495-.1241-.7186 0l-3.1214 1.7323c-.5425.3011-1.192-.1583-1.0922-.7725l.6139-3.77811c.0379-.23356-.0368-.47133-.2014-.64071l-2.6277-2.70397c-.4221-.43435-.1782-1.16604.4193-1.2577l3.5676-.54725c.2448-.03755.4548-.19515.56-.42023l1.569-3.355945z')
                  p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
                fogcaption.s-featured-testimonials__quotee
                  span Марина
                  | , 14 апреля 2020 г.
            .swiper-slide
              figure.s-featured-testimonials__item
                blockquote.s-featured-testimonials__quote
                  span.s-featured-testimonials__rating.s-featured-testimonials__rating--bad
                    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 90 14', width='90', height='14')
                      path(fill='#292b22', d='M6.32776.428785c.26728-.571713 1.0772-.571713 1.34448 0L9.24115 3.78473c.10523.22508.31528.38268.56009.42023l3.56756.54725c.5975.09166.8414.82335.4193 1.2577l-2.6277 2.70397c-.1646.16938-.2393.40715-.2014.64071l.6139 3.77811c.0997.6142-.5497 1.0736-1.0922.7725l-3.12143-1.7323c-.22357-.1241-.49497-.1241-.71854 0l-3.1214 1.7323c-.54252.3011-1.19198-.1583-1.09218-.7725l.61382-3.77811c.03794-.23356-.0368-.47133-.2014-.64071L.211875 6.00991c-.422108-.43436-.1781332-1.16604.419367-1.2577l3.567518-.54725c.24481-.03755.45486-.19515.56008-.42023L6.32776.428785z')
                      path(fill='#292b22', d='M25.3278.428785c.2672-.571713 1.0772-.571713 1.3444 0l1.569 3.355945c.1052.22508.3152.38268.56.42023l3.5676.54725c.5975.09166.8414.82335.4193 1.2577l-2.6277 2.70397c-.1646.16938-.2393.40715-.2014.64071l.6139 3.77811c.0997.6142-.5497 1.0736-1.0922.7725l-3.1214-1.7323c-.2236-.1241-.495-.1241-.7186 0l-3.1214 1.7323c-.5425.3011-1.192-.1583-1.0922-.7725l.6139-3.77811c.0379-.23356-.0368-.47133-.2014-.64071l-2.6277-2.70397c-.4221-.43436-.1782-1.16604.4193-1.2577l3.5676-.54725c.2448-.03755.4548-.19515.56-.42023l1.569-3.355945z')
                      path(fill='#292b22', d='M44.3278.428785c.2672-.571713 1.0772-.571713 1.3444 0l1.569 3.355945c.1052.22508.3152.38268.56.42023l3.5676.54725c.5975.09166.8414.82335.4193 1.2577l-2.6277 2.70397c-.1646.16938-.2393.40715-.2014.64071l.6139 3.77811c.0997.6142-.5497 1.0736-1.0922.7725l-3.1214-1.7323c-.2236-.1241-.495-.1241-.7186 0l-3.1214 1.7323c-.5425.3011-1.192-.1583-1.0922-.7725l.6139-3.77811c.0379-.23356-.0368-.47133-.2014-.64071l-2.6277-2.70397c-.4221-.43436-.1782-1.16604.4193-1.2577l3.5676-.54725c.2448-.03755.4548-.19515.56-.42023l1.569-3.355945z')
                      path(fill='#292b22', d='M63.3278.428785c.2672-.571713 1.0772-.571713 1.3444 0l1.569 3.355945c.1052.22508.3152.38268.56.42023l3.5676.54725c.5975.09166.8414.82335.4193 1.2577l-2.6277 2.70397c-.1646.16938-.2393.40715-.2014.64071l.6139 3.77811c.0997.6142-.5497 1.0736-1.0922.7725l-3.1214-1.7323c-.2236-.1241-.495-.1241-.7186 0l-3.1214 1.7323c-.5425.3011-1.192-.1583-1.0922-.7725l.6139-3.77811c.0379-.23356-.0368-.47133-.2014-.64071l-2.6277-2.70397c-.4221-.43436-.1782-1.16604.4193-1.2577l3.5676-.54725c.2448-.03755.4548-.19515.56-.42023l1.569-3.355945z')
                      path(fill='#292b22', d='M82.3278.428785c.2672-.571713 1.0772-.571713 1.3444 0l1.569 3.355945c.1052.22508.3152.38268.56.42023l3.5676.54725c.5975.09166.8414.82335.4193 1.2577l-2.6277 2.70397c-.1646.16938-.2393.40715-.2014.64071l.6139 3.77811c.0997.6142-.5497 1.0736-1.0922.7725l-3.1214-1.7323c-.2236-.1241-.495-.1241-.7186 0l-3.1214 1.7323c-.5425.3011-1.192-.1583-1.0922-.7725l.6139-3.77811c.0379-.23356-.0368-.47133-.2014-.64071l-2.6277-2.70397c-.4221-.43435-.1782-1.16604.4193-1.2577l3.5676-.54725c.2448-.03755.4548-.19515.56-.42023l1.569-3.355945z')
                  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
                fogcaption.s-featured-testimonials__quotee
                  span Евгений
                  | , 02 февраля 2020 г.
      +slider-pagination().s-featured-testimonials__slider-pagination

  +make-an-appointment()