extends ../pug/layout.pug

block meta
  - var title = 'News List';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +mobile-menu()

block content
  .s-news-list
    .s-news-list__container
      +breadcrumbs()
        +breadcrumbs-item('Новости')
      h1.s-news-list__title Новости
      .s-news-list__list
        +article-card({
          cover: 'https://thumbnails.production.thenounproject.com/V1eyAdoKyCKWxj9hCoipsBHG3n4=/fit-in/1000x1000/photos.production.thenounproject.com/photos/E7764D89-61FF-4139-B667-438A8D27380C.jpg',
          title: 'Эх, жирафы честно в цель шагают, да щук объять за память ёлкой'
        })
        +article-card({
          cover: 'https://thumbnails.production.thenounproject.com/TBMqFC3SwkVlIiGkYGm4g_sty1w=/fit-in/1000x1000/photos.production.thenounproject.com/photos/20A91510-699D-43DB-A2F9-A9D2B63A32A6.jpg',
          title: 'Эх, жирафы честно в цель шагают, да щук объять за память ёлкой'
        })
        +article-card({
          cover: 'https://thumbnails.production.thenounproject.com/9CIVLbaNNBv3CR4PM8sZ4F_T3iE=/fit-in/1000x1000/photos.production.thenounproject.com/photos/9DA23847-7EB7-47EA-9D75-4679A560EDC0.jpg',
          title: 'Эх, жирафы честно в цель шагают, да щук объять за память ёлкой'
        })
        +article-card({
          cover: 'https://thumbnails.production.thenounproject.com/GfNoBxUxb-7_5qQAdqdUuWWzLqk=/fit-in/1000x1000/photos.production.thenounproject.com/photos/B34B10AB-F15D-43E6-B2C4-A707F748C39B.jpg',
          title: 'Эх, жирафы честно в цель шагают, да щук объять за память ёлкой'
        })
        +article-card({
          cover: 'https://thumbnails.production.thenounproject.com/XHBXJcAH2jG5IuQQVjag8WCbYJk=/fit-in/1000x1000/photos.production.thenounproject.com/photos/AE77FDE1-BF70-47A2-ADDD-99F4B9FE7C59.jpg',
          title: 'Эх, жирафы честно в цель шагают, да щук объять за память ёлкой'
        })
      +show-more()