extends ../pug/layout.pug

block meta
  - var title = 'Service';
  title= title
  meta(name='description', content='')

block header
  +page-header('light, on-field')
  +mobile-menu()

block content
  .s-service
    .s-service__wrap
      .s-service__container
        .s-service__content
          .s-service__content-inner
            +breadcrumbs('light')
              +breadcrumbs-item('Специалисты', '/')
              +breadcrumbs-item('Амбулаторное лечение')
            h1.s-service__title Амбулаторное лечение
            .s-service__desc
              p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
            +btn('Подробнее', 'light-text').s-service__btn(href='/')
      .s-service__cover
        .s-service__cover-wrap.rellax(data-rellax-speed='-1.5', data-rellax-percentage='0.5')
          img(src='https://thumbnails.production.thenounproject.com/YUOYl63EiyP8PjtSVhv5WwG1HQg=/fit-in/1000x1000/photos.production.thenounproject.com/photos/C978D343-8F0E-475B-9467-954AEE12AC46.jpg', alt='')

  .s-illnesses
    .s-illnesses__container
      .s-illnesses__title Заболевания
      ul.s-illnesses__list
        li.s-illnesses__item
          +illness-card('Гломерулонефрит')
        li.s-illnesses__item
          +illness-card('Пиелонефрит')
        li.s-illnesses__item
          +illness-card('Диабет. Диабетическая нефропатия')
        li.s-illnesses__item
          +illness-card('Васкулит')
        li.s-illnesses__item
          +illness-card('Тубулоинтерстициальный нефрит')
        li.s-illnesses__item
          +illness-card('Хроническая болезнь почек')

  .s-about-illnesses
    .s-about-illnesses__container
      .s-about-illnesses__content
        span.s-about-illnesses__subtitle О заболеваниях
        .s-about-illnesses__title Многие годы мы сотрудничаем с «Национальным центром клинической и морфологической диагностики», признанным лидером в данном направлении.
        .s-about-illnesses__text
          p Наличие всего этого опыта в одном месте, ориентация на пациента, означает, что вы не просто получите одно мнение, ваш конкретный случай, ваш диагноз и тактика ведения согласовывается с командой специалистов. Короткий срок выполнения анализов, удобный график приема, то что в других местах может занять недели или даже месяцы у нас можно сделать за считанные дни.
        +btn('Узнать больше')
      .s-about-illnesses__cover
        .s-about-illnesses__cover-wrap.rellax(data-rellax-speed='-0.75', data-rellax-percentage='0.5')
          img(src='https://thumbnails.production.thenounproject.com/Ay9eJwikHqimB-jr9Me2fdh0o1M=/fit-in/1000x1000/photos.production.thenounproject.com/photos/CF0DF9E3-DF71-4CDD-9DFD-C30808AB1EA6.jpg', alt='')

  +make-an-appointment()

  .s-price
    .s-price__container
      .s-price__title Цены
      ul.s-price__list
        li.s-price__item
          .s-price__item-info
            .s-price__item-title Хроническая болезнь почек
            .s-price__item-desc
              p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
          .s-price__item-price 3 900 ₽
        li.s-price__item
          .s-price__item-info
            .s-price__item-title Хроническая болезнь почек
            .s-price__item-desc
              p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
          .s-price__item-price 4 900 ₽
        li.s-price__item
          .s-price__item-info
            .s-price__item-title Хроническая болезнь почек
            .s-price__item-desc
              p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
          .s-price__item-price 3 900 ₽

  +doctors()
  +certificates()

  .s-featured-articles
    .s-featured-articles__container
      .s-featured-articles__title Статьи по направлению
      .s-featured-articles__list
        +article-card({
          cover: 'https://thumbnails.production.thenounproject.com/V1eyAdoKyCKWxj9hCoipsBHG3n4=/fit-in/1000x1000/photos.production.thenounproject.com/photos/E7764D89-61FF-4139-B667-438A8D27380C.jpg',
          title: 'Эх, жирафы честно в цель шагают, да щук объять за память ёлкой'
        })
        +article-card({
          cover: 'https://thumbnails.production.thenounproject.com/TBMqFC3SwkVlIiGkYGm4g_sty1w=/fit-in/1000x1000/photos.production.thenounproject.com/photos/20A91510-699D-43DB-A2F9-A9D2B63A32A6.jpg',
          title: 'Эх, жирафы честно в цель шагают, да щук объять за память ёлкой'
        })
        +article-card({
          cover: 'https://thumbnails.production.thenounproject.com/9CIVLbaNNBv3CR4PM8sZ4F_T3iE=/fit-in/1000x1000/photos.production.thenounproject.com/photos/9DA23847-7EB7-47EA-9D75-4679A560EDC0.jpg',
          title: 'Эх, жирафы честно в цель шагают, да щук объять за память ёлкой'
        })
