extends ../pug/layout.pug

block meta
  - var title = 'Specialist';
  title= title
  meta(name='description', content='')

block header
  +page-header('on-field')
  +mobile-menu()

block content
  .s-specialist
    .s-specialist__wrap
      .s-specialist__container
        +breadcrumbs()
          +breadcrumbs-item('Специалисты', 'specialists.html')
          +breadcrumbs-item('Кислый Павел Николаевич')
        .s-specialist__content
          .s-specialist__intro
            .s-specialist__photo
              .s-specialist__photo-wrap
                img(src='https://thumbnails.production.thenounproject.com/WnnY02c4UZLCxvAdt-xRzfNuEek=/fit-in/1000x1000/photos.production.thenounproject.com/photos/69CE694B-9732-4DBB-9AF6-DE2A12EA35B2.jpg', alt='')
            h1.s-specialist__name Кислый Павел Николаевич
            .s-specialist__directions
              p Ведущий специалист по нефрологии Клиники, заведующий отделением амбулаторного диализа
            +simple-btn('Записаться на прием')
          .s-specialist__full-info
            .s-tabs
              ul.s-tabs__list.nav(role='tablist')
                li(role='presentation')
                  a.active(id='information-tab', data-bs-toggle='tab', href='#information', role='tab', aria-controls='information', aria-selected='true') Информация
                li(role='presentation')
                  a(id='photos-tab', data-bs-toggle='tab', href='#photos', role='tab', aria-controls='photos', aria-selected='false') Фото
                li(role='presentation')
                  a(id='testimonials-tab', data-bs-toggle='tab', href='#testimonials', role='tab', aria-controls='testimonials', aria-selected='false') Отзывы
                li(role='presentation')
                  a(id='articles-tab', data-bs-toggle='tab', href='#articles', role='tab', aria-controls='articles', aria-selected='false') Статьи
              .s-tabs__content
                .tab-content
                  .tab-pane.active(id='information', role='tabpanel', aria-labelledby='information-tab') 1
                  .tab-pane(id='photos', role='tabpanel', aria-labelledby='photos-tab') 2
                  .tab-pane(id='testimonials', role='tabpanel', aria-labelledby='testimonials-tab') 3
                  .tab-pane(id='articles', role='tabpanel', aria-labelledby='articles-tab') 4
