extends ../pug/layout.pug

block meta
  - var title = 'Testimonials';
  title= title
  meta(name='description', content='')

block header
  +page-header()
  +mobile-menu()

block content
  .s-testimonials
    .s-testimonials__wrap

      .s-testimonials__header
        .s-testimonials__container
          +breadcrumbs()
            +breadcrumbs-item('Отзывы')
          h1.s-testimonials__title Отзывы

      .s-testimonials__feedback
        .s-testimonials__container
          .s-testimonials__feedback-content
            .s-testimonials__feedback-info
              span.s-testimonials__feedback-subtitle Ваш опыт
              .s-testimonials__feedback-title Оставьте свой комментарий или отправьте его на наши электронную почту
              .s-testimonials__feedback-contact
                span E-mail:
                a(href='mailto:')  nephro.expert@feedback.ru
            +form().s-testimonials__feedback-form
              +field-text({
                title: 'Отзыв',
                mods: '',
                isTextarea: true,
                val: '',
                attrs: {
                  name: 'name',
                  placeholder: ''
                }
              }).s-testimonials__feedback-form-group.s-testimonials__feedback-form-group--textarea
              +field-text({
                title: 'Имя и фамилия',
                mods: '',
                val: '',
                attrs: {
                  name: 'name',
                  placeholder: ''
                }
              }).s-testimonials__feedback-form-group.s-testimonials__feedback-form-group--from
              +field-text({
                title: 'Телефон',
                mods: '',
                val: '',
                attrs: {
                  name: 'name',
                  placeholder: ''
                }
              }).s-testimonials__feedback-form-group.s-testimonials__feedback-form-group--phone
              +field-text({
                title: 'E-mail',
                mods: '',
                val: '',
                attrs: {
                  name: 'name',
                  placeholder: ''
                }
              }).s-testimonials__feedback-form-group.s-testimonials__feedback-form-group--email
              +field-actions().s-testimonials__feedback-form-group.s-testimonials__feedback-form-group--actions
                +btn('Отправить отзыв')

      .s-testimonials__read
        .s-testimonials__container
          .s-testimonials__filters
            +field-text({
              mods: '',
              val: 'Направление',
              attrs: {
                name: 'name',
                placeholder: ''
              }
            })
            +field-text({
              mods: '',
              val: 'Врач',
              attrs: {
                name: 'name',
                placeholder: ''
              }
            })
          .s-testimonials__list
            +testimonial-card({
              text: 'Год назад сделала операцию по удалению мениска. Команда врачей — профессионалы. Наркоз без последствий. На второй день выписали из стационар. Период реабилитации затянулся на полгода, наверное в силу возраста — 52 года. Спасибо.'
            })
            +testimonial-card({
              original: true,
              text: 'Попала на прием, за что очень благодарна, хотя записалась в последний момент, т.к. нужно было срочно. Получила консультацию и была перенаправлена к нужному специалисту. Спасибо большое!'
            })
            +testimonial-card({
              text: 'Огромное спасибо что вы есть! Квалифицированные, доброжелательные, терпеливые (с пожилыми особенно). Только положительные эмоции. 27.02.2020 г. была оперирована — хирург Тищенко К.А. Огромное вам спасибо и пожелания всех благ за ваш труд, дарящий нам…'
            })
            +testimonial-card({
              text: 'Год назад сделала операцию по удалению мениска. Команда врачей — профессионалы. Наркоз без последствий. На второй день выписали из стационар. Период реабилитации затянулся на полгода, наверное в силу возраста — 52 года. Спасибо.'
            })
          +show-more()