mixin logo(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-logo--' + modsList[i].trim();
      }
    }

  a.s-logo(href='index.html', class=allMods)&attributes(attributes)
    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 150 30', width='150', height='30')
      path(d='M22.5022 13.1661c-.419.429-.74.9467-.9399 1.5162-.1999.5696-.274 1.177-.2168 1.779l-.0199-.0203c.0588.7086-.0351 1.4218-.2752 2.0896-.24.6679-.6205 1.2744-1.1147 1.7772-.4943.5029-1.0904.8899-1.7469 1.1341-.6564.2443-1.3574.3398-2.0539.28l.0199.0202c-.8331-.0788-1.6699.1056-2.3963.5283-.7263.4226-1.3068 1.0629-1.6624 1.8335-.3555.7706-.4688 1.634-.3244 2.4725.1445.8385.5396 1.6113 1.1315 2.213.592.6016 1.3519 1.0029 2.1762 1.1491.8244.1462 1.6729.0302 2.4301-.3322.7571-.3625 1.3859-.9536 1.8007-1.693.4148-.7393.5953-1.5908.517-2.4383l.0211.0202c-.0588-.7086.0351-1.4217.2751-2.0896.2401-.6678.6205-1.2743 1.1148-1.7772.4943-.5028 1.0904-.8898 1.7469-1.1341.6564-.2442 1.3574-.3397 2.0539-.2799l-.021-.0203c.6805.0623 1.3656-.0512 1.9915-.33.626-.2788 1.1727-.7138 1.5894-1.2648.4167-.551.6899-1.2.7944-1.8871.1045-.687.0368-1.3897-.1967-2.043-.2336-.6533-.6255-1.2361-1.1394-1.6943-.5138-.4582-1.1331-.7771-1.8004-.9269-.6672-.1499-1.3609-.126-2.0166.0694-.6558.1955-1.2524.5562-1.7347 1.0487h-.0033zM14.3446 19.0893l-.021-.0202c.592.0607 1.1898-.0133 1.7503-.2164.5604-.2032 1.0695-.5306 1.4904-.9584.4208-.4279.743-.9455.9431-1.5156.2001-.57.2732-1.1782.214-1.7805l.021.0203c-.0588-.7086.0352-1.4217.2752-2.0896.2401-.6678.6205-1.2743 1.1148-1.7772.4942-.5028 1.0904-.88986 1.7469-1.13409.6564-.24424 1.3574-.33979 2.0539-.27997l-.021-.02025c.8332.07961 1.6702-.10422 2.397-.5264.7267-.42218 1.3078-1.06216 1.6639-1.83265.3561-.77049.4699-1.63398.3259-2.47269-.144-.83871-.5389-1.61181-1.1306-2.21385-.5918-.60204-1.3517-1.0037-2.1761-1.15021-.8244-.146516-1.6731-.03074-2.4305.33154-.7573.36228-1.3864.95342-1.8013 1.69278-.415.73937-.5957 1.59098-.5175 2.43866l-.0199-.02138c.059.70864-.0348 1.42184-.2748 2.08979-.24.66795-.6204 1.27455-1.1147 1.77743-.4943.50287-1.0905.88989-1.7471 1.13409-.6565.2442-1.3575.3396-2.0541.2795l.0199.0214c-.592-.0607-1.1898.0133-1.7503.2164-.5604.2032-1.0695.5306-1.4904.9584-.4208.4279-.743.9455-.9431 1.5156-.2001.57-.2732 1.1782-.214 1.7805l-.0199-.0203c.0586.7086-.0355 1.4216-.2756 2.0893-.2402.6678-.6206 1.2742-1.11481 1.777-.49421.5028-1.09029.8899-1.74666 1.1342-.65637.2443-1.35723.34-2.05369.2804l.01991.0202c-.83322-.0796-1.67029.1042-2.39704.5264-.72675.4222-1.3078 1.0622-1.66389 1.8327-.3561.7704-.4699 1.6339-.32589 2.4726.14401.8388.53882 1.6119 1.13059 2.2139.59176.602 1.35167 1.0037 2.17606 1.1502.8244.1465 1.67315.0307 2.43049-.3315.75735-.3623 1.3864-.9534 1.80138-1.6928.41497-.7394.59566-1.591.51741-2.4387l.02101.0203c-.05879-.7086.03512-1.4217.27519-2.0896.24007-.6679.62054-1.2744 1.11474-1.7772.4943-.5028 1.0904-.8899 1.7469-1.1341.6564-.2442 1.3574-.3398 2.0539-.28zM6.93338 16.8314c.41913-.4289.74003-.9466.93978-1.5162.19976-.5696.27344-1.177.2158-1.779l.02101.0203c-.05884-.7088.03512-1.4221.27532-2.0902.24019-.668.62083-1.2746 1.11533-1.77752.49451-.50288 1.09098-.88987 1.74768-1.13395.6567-.24408 1.3579-.33937 2.0546-.27921l-.021-.02024c.8329.07938 1.6696-.10454 2.3961-.52669.7264-.42215 1.3071-1.06198 1.663-1.83223.3559-.77025.4696-1.63343.3256-2.47183-.144-.83839-.5387-1.61119-1.1303-2.21301C15.9448.609797 15.1852.208255 14.3611.0617505c-.8241-.1465046-1.6726-.0308403-2.4297.3312185-.7571.362058-1.386.952881-1.8009 1.691911-.41496.73903-.59575 1.59028-.51771 2.43767l-.01991-.02025c.05879.7086-.03512 1.42171-.27519 2.08957-.24006.66786-.6205 1.27437-1.11475 1.77721-.49425.50283-1.09042.88987-1.74688 1.13411-.65646.24424-1.3574.33978-2.0539.27996l.0199.02026c-.68055-.0621-1.3655.05159-1.99137.33049-.62588.2789-1.17243.7141-1.589 1.2651-.416574.551-.689697 1.2001-.7940595 1.8871-.1043622.687-.0365875 1.3896.1970445 2.0429.233632.6532.625562 1.2359 1.139475 1.694.5139.4582 1.13316.7769 1.80039.9267.66723.1499 1.36083.1259 2.01654-.0696s1.25231-.5562 1.73451-1.0487h-.00221zM41.1884 5.61045h3.2843V21.8704h-3.2843V5.61045zM46.3327 16.3026c-.0046-1.1685.3317-2.312.9665-3.2859.6348-.9738 1.5393-1.7341 2.5991-2.1845 1.0598-.4504 2.2272-.5707 3.3543-.3456 1.127.2251 2.163.7854 2.9768 1.61.8138.8246 1.3687 1.8764 1.5945 3.0221s.1122 2.3338-.3262 3.4138c-.4385 1.08-1.1822 2.0033-2.1369 2.653-.9546.6497-2.0773.9965-3.2259.9965-.7624.0088-1.5189-.137-2.2253-.4291-.7064-.292-1.3484-.7244-1.8886-1.2718-.5403-.5474-.9678-1.1988-1.2577-1.9163-.2899-.7174-.4363-1.4865-.4306-2.2622zm8.3201 0c-.0137-.5036-.173-.992-.458-1.4041-.2851-.412-.6832-.7294-1.1446-.9125-.4614-.1832-.9656-.2238-1.4496-.117-.484.1068-.9263.3564-1.2716.7176-.3453.3612-.5783.818-.6699 1.3131-.0916.4952-.0376 1.0069.1551 1.471.1927.4642.5156.8602.9284 1.1387.4127.2784.897.4269 1.3923.4269.3392.0092.6765-.0532.9908-.1832s.5988-.3249.8353-.5724c.2366-.2474.4202-.5421.5393-.8653.119-.3232.171-.6681.1525-1.0128zM71.0267 10.7338V21.309c0 3.7418-2.8685 5.3236-5.7801 5.3236-1.0252.0781-2.0517-.1326-2.9669-.6089s-1.6839-1.1998-2.2216-2.0911l2.8021-1.6482c.226.4646.5862.848 1.0322 1.0987.446.2507.9567.3568 1.4636.3042.324.0457.654.0166.9655-.0849.3115-.1016.5965-.2731.834-.5019.2376-.2288.4215-.509.5382-.8199.1167-.3109.1632-.6445.1361-.9761v-1.0181c-.3846.4787-.8741.859-1.4293 1.1105-.5552.2515-1.1606.367-1.7677.3374-1.4444-.0464-2.8144-.6627-3.82-1.7186-1.0056-1.0558-1.568-2.4684-1.568-3.9386 0-1.4702.5624-2.8828 1.568-3.9386 1.0056-1.0559 2.3756-1.6722 3.82-1.7186.6071-.0296 1.2125.0859 1.7677.3374.5552.2514 1.0447.6318 1.4293 1.1105v-1.1362l3.1969.0022zm-3.1958 5.345c.0221-.5385-.1148-1.0714-.3929-1.5301-.2781-.4587-.6848-.8222-1.1678-1.0438-.4829-.2215-1.0199-.291-1.542-.1994-.522.0916-1.0052.34-1.3873.7133-.3821.3733-.6456.8544-.7567 1.3814-.111.527-.0645 1.0757.1335 1.5756.1981.4998.5387.928.9779 1.2292.4393.3013.9571.462 1.4868.4613.3451.0245.6914-.0248 1.0166-.1447.3252-.1199.6221-.3078.8716-.5516.2495-.2437.4461-.538.577-.8637.131-.3257.1934-.6758.1833-1.0275zM72.8867 16.3026c-.0046-1.1685.3318-2.312.9666-3.2859.6347-.9738 1.5393-1.7341 2.5991-2.1845 1.0598-.4504 2.2272-.5707 3.3542-.3456 1.1271.2251 2.1631.7854 2.9769 1.61.8138.8246 1.3687 1.8764 1.5945 3.0221.2257 1.1457.1122 2.3338-.3263 3.4138-.4384 1.08-1.1821 2.0033-2.1368 2.653-.9547.6497-2.0774.9965-3.2259.9965-.7625.0088-1.519-.137-2.2253-.4291-.7064-.292-1.3484-.7244-1.8887-1.2718-.5402-.5474-.9677-1.1988-1.2576-1.9163-.2899-.7174-.4363-1.4865-.4307-2.2622zm8.3202 0c-.0137-.5036-.173-.992-.4581-1.4041-.285-.412-.6831-.7294-1.1445-.9125-.4614-.1832-.9656-.2238-1.4496-.117-.484.1068-.9263.3564-1.2716.7176-.3453.3612-.5784.818-.6699 1.3131-.0916.4952-.0376 1.0069.1551 1.471.1927.4642.5156.8602.9284 1.1387.4127.2784.897.4269 1.3923.4269.3391.0092.6765-.0532.9908-.1832s.5987-.3249.8353-.5724c.2366-.2474.4202-.5421.5393-.8653.119-.3232.171-.6681.1525-1.0128zM86.0228 7.7491c0-.39651.1156-.78411.3321-1.1138.2165-.32968.5243-.58665.8843-.73838.3601-.15174.7563-.19144 1.1386-.11409.3822.07736.7334.2683 1.0089.54867.2756.28038.4633.63759.5394 1.02648.076.3889.037.79199-.1122 1.15832-.1491.36633-.4017.67943-.7258.89972-.324.22029-.705.33787-1.0948.33787-.521-.00527-1.0192-.21819-1.3876-.59302-.3685-.37483-.5777-.8817-.5829-1.41177zm.3317 2.9847h3.2854v11.1377h-3.2898l.0044-11.1377zM103.821 16.3027c.038.736-.068 1.4725-.31 2.167-.243.6944-.618 1.3332-1.105 1.8796-.486.5464-1.074.9896-1.729 1.3041s-1.3651.4942-2.0888.5286c-.6086.0338-1.217-.0706-1.7811-.3057-.564-.235-1.0696-.5949-1.48-1.0533v5.5025h-3.2843V10.7338h3.2843v1.0463c.4106-.4582.9163-.8177 1.4803-1.0525.564-.2349 1.1723-.3392 1.7808-.3054.7238.0342 1.4338.2138 2.0888.5284.656.3145 1.244.7578 1.73 1.3043.486.5466.862 1.1856 1.104 1.8802.243.6947.348 1.4313.31 2.1676zm-3.284 0c-.013-.5213-.177-1.0271-.471-1.4542-.2939-.4271-.7052-.7565-1.1823-.9469-.4771-.1904-.9988-.2335-1.4999-.1238-.501.1098-.9591.3674-1.3169.7407s-.5995.8457-.6947 1.358c-.0952.5124-.0398 1.0419.1593 1.5224.1991.4804.5332.8904.9602 1.1787.4271.2883.9282.442 1.4407.442.3519.0159.7031-.044 1.0306-.1758.3275-.1319.6239-.3326.8698-.5892.2462-.2565.4362-.563.5572-.8994.121-.3364.171-.6951.147-1.0525zM113.956 18.5291c0 2.5617-2.189 3.6529-4.553 3.6529-.955.088-1.914-.1175-2.754-.59-.839-.4725-1.519-1.1903-1.953-2.0605l2.845-1.6482c.115.4023.362.7522.7.9913.338.2392.747.3531 1.158.3227.787 0 1.182-.2452 1.182-.6896 0-1.2263-5.387-.5794-5.387-4.4326 0-2.4289 2.015-3.6529 4.292-3.6529.856-.0276 1.704.179 2.454.5981.751.4191 1.378 1.0354 1.815 1.7847l-2.803 1.5367c-.122-.2917-.327-.5402-.588-.7144-.261-.1743-.566-.2666-.878-.2654-.569 0-.92.225-.92.6232.004 1.2702 5.39.423 5.39 4.544zM125.953 10.7338v11.1377h-3.284v-1.0474c-.379.4622-.861.8263-1.405 1.0626-.544.2362-1.135.3378-1.725.2964-2.212 0-4.091-1.6031-4.091-4.6126v-6.8367h3.284v6.3474c-.028.2652.002.5334.087.7858.084.2524.222.483.403.6757.182.1928.402.343.646.4403s.506.1394.768.1232c1.204 0 2.036-.7122 2.036-2.2939v-6.0751l3.281-.0034zM144.785 15.0325v6.8379h-3.284v-6.5488c0-1.1137-.526-1.8259-1.576-1.8259-1.095 0-1.709.7797-1.709 2.0937v6.281h-3.283v-6.5488c0-1.1137-.525-1.8259-1.577-1.8259-1.094 0-1.707.7797-1.707 2.0937v6.281h-3.284V10.7327h3.284v1.0238c.34-.4542.787-.8144 1.3-1.0477.512-.2333 1.074-.3322 1.634-.2877.562-.028 1.121.0926 1.624.3501.502.2575.931.6431 1.243 1.1191.364-.498.846-.894 1.401-1.1509.556-.257 1.166-.3665 1.774-.3183 2.513.0011 4.16 1.827 4.16 4.6114zM147.563 10.6652c1.346 0 2.437-1.11018 2.437-2.47959 0-1.36942-1.091-2.47955-2.437-2.47955-1.346 0-2.437 1.11013-2.437 2.47955 0 1.36941 1.091 2.47959 2.437 2.47959z')
