mixin page-footer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-footer--' + modsList[i].trim();
      }
    }

  footer.s-page-footer(class=allMods)&attributes(attributes)
    .s-page-footer__wrap
      .s-page-footer__container
        .s-page-footer__top
          +logo().s-page-footer__logo
        .s-page-footer__main
          .s-page-footer__block.s-page-footer__block--address
            span.s-page-footer__subtitle Адрес
            ul.s-page-footer__list
              li
                span Санкт-Петербург, Кадетская лин. д. 13-15
              li
                span Режим работы: Пн–Пт 08:00-17:00
            .s-page-footer__actions
              +simple-btn('Записаться на прием').s-page-footer__make-an-appointment
          .s-page-footer__block.s-page-footer__block--nav
            span.s-page-footer__subtitle Информация
            ul.s-page-footer__list
              li
                a(href='/') Пациентам
              li
                a(href='/') Услуги
              li
                a(href='specialists.html') Специалисты
              li
                a(href='/') Заболевания
              li
                a(href='about.html') Об отделении
              li
                a(href='news-list.html') Статьи
              li
                a(href='testimonials.html') Отзывы
              li
                a(href='/') Вакансии
              li
                a(href='contacts.html') Контакты
          .s-page-footer__block.s-page-footer__block--contacts
            span.s-page-footer__subtitle Связаться
            ul.s-page-footer__list
              li
                a(href='tel:') +7 812 000 00 00
              li
                a(href='mailto:') mail@mail.ru
          .s-page-footer__block.s-page-footer__block--social
            .s-page-footer__social-inner
              span.s-page-footer__subtitle Мы в соц. сетях
              +social()
        .s-page-footer__bottom
          .s-page-footer__copyright
            span © 2020 — СПБГУ КВМТ им. Н.И. Пирогова. Отделение гемодиализа № 2
          .s-page-footer__privacy
            span Лицензия ФС-78-01-003166
            span ИНН: 7800000000
          .s-page-footer__to-top
            +to-top()
