.s-page-footer {

  @include media-min-sm {
    padding: 0 1.5rem 1.5rem;
  }

  &__wrap {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
    background-color: $bg-color--dark;
    color: $text-color--light;
    border-top-left-radius: $border-radius--big;
    border-top-right-radius: $border-radius--big;

    @include media-min-sm {
      border-radius: $border-radius--big;
      padding: 0 1.5rem;
    }
  }

  &__container {
    @include container;
  }

  &__top {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(#fff, 0.125);

    @include media-min-sm {
      padding-top: 2.25rem;
    }
  }

  &__logo {
    color: $text-color--light;
    display: block;
  }

  &__main {
    padding-top: 1.5rem;
    margin-bottom: 2.25rem;

    @include media-min-sm {
      display: grid;
      grid-gap: 20px;
      grid-template: 'address nav contacts social' / 5fr 3fr 2fr 2fr;
      margin-bottom: 3rem;
    }
  }

  &__block {

    &:not(:last-child) {
      margin-bottom: 1.5rem;

      @include media-min-sm {
        margin-bottom: 0;
      }
    }

    &--address {
      grid-area: address;
    }

    &--nav {
      grid-area: nav;
    }

    &--contacts {
      grid-area: contacts;
    }

    &--social {
      grid-area: social;

      @include media-min-sm {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.4em;
      font-weight: 400;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        color: $text-color--light;
        text-decoration: none;
        opacity: 0.75;

        &:hover,
        &:focus {
          opacity: 1;
          transition: opacity 0.25s $transition-timing--linear;
        }
      }

      span {
        opacity: 0.75;
      }
    }
  }

  &__subtitle {
    display: block;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }

  &__actions {
    margin-top: 0.75rem;

    @include media-min-sm {
      margin-top: 1.5rem;
    }
  }

  &__bottom {
    font-size: ms(-2);
    line-height: 1.4em;
    letter-spacing: 0.02em;
    padding-bottom: 1.5rem;
    display: grid;
    grid-gap: 20px;
    grid-template:
      'copyright to-top'
      'privacy to-top' / 3fr 1fr;

    @include media-min-sm {
      grid-template: 'copyright privacy privacy to-top' / 5fr 3fr 2fr 2fr;
      padding-bottom: 3rem;
    }
  }

  &__copyright {
    align-self: end;
    grid-area: copyright;

    span {
      opacity: 0.5;
    }
  }

  &__privacy {
    align-self: end;
    grid-area: privacy;

    span {
      display: block;
      opacity: 0.5;

      @include media-min-sm {
        display: inline-block;
        margin-right: 1.5rem;
      }
    }
  }

  &__to-top {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    grid-area: to-top;
  }
}
