.s-service {

  @include media-min-sm {
    padding: 0 1.5rem;
  }

  &__wrap {
    position: relative;
    max-width: 1380px;
    padding: 0 1rem;
    overflow: hidden;
    background-color: $bg-color--dark;
    color: $text-color--light;
    border-bottom-left-radius: $border-radius--big;
    border-bottom-right-radius: $border-radius--big;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;

    @include media-min-sm {
      padding: 0 1.5rem;
      border-radius: $border-radius--big;
    }
  }

  &__container {
    position: relative;
    @include container;
  }

  &__content {
    position: relative;
    z-index: 2;
    min-height: 540px;

    @include media-min-sm {
      min-height: 600px;
    }
  }

  &__content-inner {
    position: absolute;
    bottom: 2.25rem;
    left: 0;
    max-width: 600px;

    @include media-min-sm {
      bottom: 4.5rem;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75rem;

    @include media-min-sm {
      font-size: ms(2);
      line-height: 1.1em;
    }
  }

  &__desc {
    font-size: 0.8rem;
    line-height: 1.4em;
    margin-bottom: 1.5rem;
    opacity: 0.75;
  }

  &__btn {

    .s-btn__shape {
      opacity: 0.5;
    }
  }

  &__cover {
    position: absolute;
    z-index: 1;
    top: -10%;
    right: 0;
    bottom: -10%;
    left: 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#000, 0.5);
      z-index: 2;
    }
  }

  &__cover-wrap {
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
