.s-contacts {
  padding: 4.5rem 1rem 2.25rem;

  @include media-min-sm {
    padding: 10.5rem 1.5rem 3rem;
  }

  &__container {
    @include container;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.5rem;
    max-width: 600px;

    @include media-min-sm {
      font-size: ms(2);
      line-height: 1.1em;
    }
  }

  &__content {
    display: grid;
    gap: 20px;
    grid-template: 'info' 'form' / 1fr;
    margin-bottom: 2.25rem;

    @include media-min-sm {
      gap: 20px;
      grid-template: 'info form' / 5fr 7fr;
      margin-bottom: 3rem;
    }

    @include media-min-md {
      gap: 20px;
      grid-template: 'info . form' / 4fr 1fr 7fr;
    }
  }

  &__info {
    grid-area: info;
    padding: 1.5rem 0;

    @include media-min-sm {
      padding: 2.25rem 0;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0;
    padding: 0;
    font-size: ms(-1);
    line-height: 1.45em;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    a {
      color: currentColor;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: none;
        color: currentColor;
      }
    }
  }

  &__subtitle {
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: block;
  }

  &__social {

    .s-social__link {
      border: 1px solid $primary-color;
    }
  }

  &__form {
    display: grid;
    grid-area: form;
    grid-template:
      'textarea'
      'from'
      'phone'
      'email'
      'actions' / 1fr;
    padding: 1.5rem 1rem;
    background: linear-gradient(135deg, rgba(242, 225, 161, 0.85) 0%, rgba(253, 230, 150, 0.85) 100%);
    border-radius: $border-radius;
    gap: 20px;

    @include media-min-sm {
      padding: 2.25rem 3rem;
    }

    @include media-min-md {
      grid-template:
        'textarea textarea'
        'from from'
        'phone email'
        'actions actions' / 1fr 1fr;
      gap: 20px;
    }
  }

  &__form-group {

    &--textarea {
      grid-area: textarea;
    }

    &--from {
      grid-area: from;
    }

    &--phone {
      grid-area: phone;
    }

    &--email {
      grid-area: email;
    }

    &--actions {
      grid-area: actions;
      padding-top: 0.75rem;
    }
  }

  &__map {
    background-color: $bg-color--shade;
    height: 450px;
    border-radius: $border-radius;
    overflow: hidden;
  }
}
