.s-news-list {
  padding: 4.5rem 1rem 2.25rem;

  @include media-min-sm {
    padding: 10.5rem 1.5rem 3rem;
  }

  &__container {
    @include container;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.5rem;
    max-width: 600px;

    @include media-min-sm {
      font-size: ms(2);
      line-height: 1.1em;
    }
  }

  &__list {
    display: grid;
    gap: 45px 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-bottom: 2.25rem;

    @include media-min(600px) {
      gap: 45px 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @include media-min-md {
      gap: 45px 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }
}
