.s-featured-articles {
  padding: 2.25rem 1rem;

  @include media-min-sm {
    padding: 3rem 1.5rem;
  }

  &__container {
    @include container;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      font-size: ms(2);
      line-height: 1.1em;
    }
  }

  &__list {
    display: grid;
    gap: 45px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @include media-min(600px) {
      gap: 45px 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @include media-min-sm {
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }
}
