.s-specialist {

  @include media-min-sm {
    padding: 0 1.5rem;
  }

  &__wrap {
    background: linear-gradient(180deg, rgba(251, 249, 238, 0.85) 0%, rgba(246, 243, 243, 0) 100%);
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: $border-radius--big;
    border-top-right-radius: $border-radius--big;
    padding: 3.5rem 1rem 2.25rem;

    @include media-min-sm {
      border-radius: $border-radius--big;
      padding: 10.5rem 1.5rem 6rem;
    }
  }

  &__container {
    @include container;
  }

  &__content {
    display: grid;
    gap: 20px;
    grid-template: 'intro' 'full-info' / 1fr;

    @include media-min-sm {
      gap: 20px;
      grid-template: 'intro full-info' / 4fr 8fr;
    }
  }

  &__intro {
    grid-area: intro;
  }

  &__photo {
    overflow: hidden;
    border-radius: $border-radius;
    margin-bottom: 1.5rem;
  }

  &__photo-wrap {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: calc(100% / ( 4 / 3 ));

      @include media-min-sm {
        padding-bottom: calc(100% / ( 3 / 4 ));
      }
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__name {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75rem;
  }

  &__directions {
    font-size: ms(-1);
    line-height: 1.45em;
    margin-bottom: 1.5rem;
  }

  &__full-info {
    grid-area: full-info;
    background-color: $bg-color;
    border-radius: $border-radius;
    border: 1px solid rgba($border-color, 0.5);
    padding: 1rem;

    @include media-min-lg {
      padding: 2.25rem 3rem;
    }
  }
}
