.s-briefly-about-us {
  padding: 2.25rem 1rem;

  @include media-min-sm {
    padding: 3rem 1.5rem;
  }

  &__container {
    @include container;
  }

  &__intro {
    display: grid;
    grid-gap: 20px;
    grid-template:
      'intro-cover'
      'intro-content' / 1fr;
    margin-bottom: 2.25rem;

    @include media-min-sm {
      grid-template: 'intro-content intro-cover' / 6fr 6fr;
      margin-bottom: 3rem;
    }
  }

  &__intro-content {
    align-self: center;
    grid-area: intro-content;

    @include media-min-sm {
      padding-right: 3rem;
    }
  }

  &__intro-cover {
    align-self: center;
    grid-area: intro-cover;
    overflow: hidden;
    border-radius: $border-radius;
    position: relative;
    z-index: 1;
  }

  &__intro-cover-wrap {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: (3 / 4) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: -10%;
      left: 0;
      width: 100%;
      height: 120%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__illnesses {
    display: grid;
    grid-gap: 20px;
    grid-template:
      'illnesses-cover'
      'illnesses-content' / 1fr;

    @include media-min-sm {
      grid-template: 'illnesses-cover . illnesses-content' / 4fr 1fr 7fr;
    }
  }

  &__illnesses-content {
    align-self: center;
    grid-area: illnesses-content;
  }

  &__illnesses-cover {
    align-self: center;
    grid-area: illnesses-cover;
    overflow: hidden;
    border-radius: $border-radius;
    position: relative;
    z-index: 1;
  }

  &__illnesses-cover-wrap {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: (3 / 4) * 100%;

      @include media-min-sm {
        padding-top: (4 / 3) * 100%;
      }
    }

    img {
      display: block;
      position: absolute;
      top: -10%;
      left: 0;
      width: 100%;
      height: 120%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-weight: 700;

    @include media-min-sm {
      font-size: ms(2);
      line-height: 1.1em;
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    font-size: 0.8rem;
    line-height: 1.4em;
    margin-bottom: 1.5rem;
  }

  &__label-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
    margin-bottom: 1.5rem;

    a {
      display: block;
      border: 1px solid rgba($primary-color, 0.5);
      padding: 4px 10px 6px;
      margin-right: 5px;
      margin-bottom: 5px;
      color: $text-color;
      border-radius: $border-radius--small;
      text-decoration: none;

      &:hover,
      &:focus {
        transition: 0.25s $transition-timing--linear;
        text-decoration: none;
        background-color: $primary-color;
      }
    }
  }
}
