mixin certificates()

  .s-certificates
    .s-certificates__container
      .s-certificates__title Сертификаты
      +slider-nav().s-certificates__slider-nav
      .s-certificates__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              .s-certificates__item
                img(src='https://www.resumeway.com/wp-content/uploads/classic-resume-template-120360-467x604@2x.jpg', alt='/')
            .swiper-slide
              .s-certificates__item
                img(src='https://www.resumeway.com/wp-content/uploads/classic-resume-template-120360-467x604@2x.jpg', alt='/')
            .swiper-slide
              .s-certificates__item
                img(src='https://www.resumeway.com/wp-content/uploads/classic-resume-template-120360-467x604@2x.jpg', alt='/')
            .swiper-slide
              .s-certificates__item
                img(src='https://www.resumeway.com/wp-content/uploads/classic-resume-template-120360-467x604@2x.jpg', alt='/')
            .swiper-slide
              .s-certificates__item
                img(src='https://www.resumeway.com/wp-content/uploads/classic-resume-template-120360-467x604@2x.jpg', alt='/')
            .swiper-slide
              .s-certificates__item
                img(src='https://www.resumeway.com/wp-content/uploads/classic-resume-template-120360-467x604@2x.jpg', alt='/')
      +slider-progressbar().s-certificates__slider-progressbar