.s-certificates {
  padding: 2.25rem 1rem;
  overflow: hidden;

  @include media-min-sm {
    padding: 3rem 1.5rem;
  }

  &__container {
    display: grid;
    grid-template:
      'title slider-nav'
      'slider slider'
      'slider-progressbar slider-progressbar' / 1fr auto;
    @include container;
    gap: 20px;

    @include media-min-sm {
      grid-template:
        'title slider-nav'
        'slider slider'
        'slider-progressbar slider-progressbar' / 1fr auto;
      gap: 1.5rem 20px;
    }
  }

  &__title {
    align-self: center;
    grid-area: title;
    margin: 0;
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;

    @include media-min-sm {
      font-size: ms(2);
      line-height: 1.1em;
    }
  }

  &__slider-nav {
    align-self: center;
    grid-area: slider-nav;
    margin-left: auto;
  }

  &__item {
    overflow: hidden;
    position: relative;
    border-radius: $border-radius;
    z-index: 1;
  }

  &__slider {
    grid-area: slider;

    .swiper-container {
      overflow: visible;
    }
  }

  &__slider-progressbar {
    grid-area: slider-progressbar;

    @include media-min-sm {
      margin-top: 1rem;
    }
  }
}
