.s-slider-progressbar {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: rgba($text-color, 0.125);

  .swiper-pagination-progressbar-fill {
    background-color: $text-color;
  }
}
