mixin slider-progressbar(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-slider-progressbar--' + modsList[i].trim();
      }
    }

  .s-slider-progressbar(class=allMods)&attributes(attributes)