.s-featured-testimonials {
  padding: 2.25rem 1rem;
  text-align: center;

  @include media-min-sm {
    padding: 3rem 1.5rem;
  }

  &__container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      font-size: ms(2);
      line-height: 1.1em;
      margin-bottom: 3.75rem;
    }
  }

  &__slider {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 200px;
      height: 170px;
      transform: translate3d(-50%, -25%, 0);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 200 170'%3E%3Cpath fill='%23F6CB12' d='M55.1282 97.1429c10.2564 0 18.3761 3.4081 24.359 10.2251 6.4102 6.391 9.6154 14.913 9.6154 25.564 0 11.504-3.8462 20.664-11.5385 27.482-7.265 6.391-17.3077 9.586-30.1282 9.586-14.9573 0-26.7094-5.752-35.2564-17.256C4.05983 141.241 0 124.837 0 103.534c0-19.1731 4.2735-36.8548 12.8205-53.0453C21.3675 33.8722 34.188 17.2556 51.2821.639087 51.7094.213028 52.3504 0 53.2051 0c1.2821 0 2.3505.639083 3.2052 1.91726.8547 1.27821.8547 2.34338 0 3.1955C35.4701 26.416 25 51.5539 25 80.5263c0 11.9298 2.1368 20.6637 6.4103 26.2027 3.8461-6.391 11.7521-9.5861 23.7179-9.5861zm110.8978 0c10.256 0 18.376 3.4081 24.359 10.2251 6.41 6.391 9.615 14.913 9.615 25.564 0 11.504-3.846 20.664-11.538 27.482-7.265 6.391-17.308 9.586-30.129 9.586-14.957 0-26.709-5.752-35.256-17.256-8.12-11.503-12.18-27.907-12.18-49.21 0-19.1731 4.274-36.8548 12.821-53.0453 8.547-16.6165 21.367-33.2331 38.461-49.849613C162.607.213028 163.248 0 164.103 0c1.282 0 2.35.639083 3.205 1.91726.854 1.27821.854 2.34338 0 3.1955-20.94 21.30324-31.411 46.44114-31.411 75.41354 0 11.9298 2.137 20.6637 6.411 26.2027 3.846-6.391 11.752-9.5861 23.718-9.5861z' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      opacity: 0.1;
    }
  }

  &__item {
    margin: 0;
  }

  &__rating {
    display: block;
    margin-bottom: 0.75rem;

    @include media-min-sm {
      margin-bottom: 1.5rem;
    }

    svg {

      path {
        fill: rgba($text-color, 0.125);
      }
    }

    &--awful {

      svg {

        path:nth-child(1) {
          fill: $primary-color;
        }
      }
    }

    &--bad {

      svg {

        path:nth-child(1),
        path:nth-child(2) {
          fill: $primary-color;
        }
      }
    }

    &--normal {

      svg {

        path:nth-child(1),
        path:nth-child(2),
        path:nth-child(3) {
          fill: $primary-color;
        }
      }
    }

    &--good {

      svg {

        path:nth-child(1),
        path:nth-child(2),
        path:nth-child(3),
        path:nth-child(4) {
          fill: $primary-color;
        }
      }
    }

    &--excellent {

      svg {

        path:nth-child(1),
        path:nth-child(2),
        path:nth-child(3),
        path:nth-child(4),
        path:nth-child(5) {
          fill: $primary-color;
        }
      }
    }
  }

  &__quote {
    font-size: ms(0);
    line-height: 1.4em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.75rem;
  }

  &__quotee {
    font-size: ms(-1);
    line-height: 1.4em;
    color: rgba($text-color, 0.5);

    span {
      color: $text-color;
      font-weight: 600;
    }
  }
}
