.s-burger {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  color: currentColor;

  &::before {
    content: '';
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
  }

  span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translate3d(0, -50%, 0);
    background-color: currentColor;
    border-radius: $border-radius;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 100%;
      height: 2px;
      background-color: inherit;
      border-radius: $border-radius;
    }

    &::before {
      top: -7px;
      width: 60%;
    }

    &::after {
      bottom: -7px;
      width: 80%;
    }
  }
}
