@font-face {
  font-family: Lato;
  src:
    url('../fonts/lato-regular.woff2') format('woff2'),
    url('../fonts/lato-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src:
    url('../fonts/lato-medium.woff2') format('woff2'),
    url('../fonts/lato-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src:
    url('../fonts/lato-semibold.woff2') format('woff2'),
    url('../fonts/lato-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src:
    url('../fonts/lato-bold.woff2') format('woff2'),
    url('../fonts/lato-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src:
    url('../fonts/lato-bold-italic.woff2') format('woff2'),
    url('../fonts/lato-bold-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
