// Width
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1920px;

// Project colors
$text-color: #292b22;
$text-color--light: #fff;

$bg-color: #ffffff;
$bg-color--shade: #faf8f5;
$bg-color--dark: $text-color;

$primary-color: #f6cb12;
$primary-color--dark: #ca9d04;

$gradient: linear-gradient(135deg, rgba(251, 249, 238, 0.85) 0%, #fffaeb 100%);

// Fonts
$font-family:
  Lato,
  -apple-system,
  blinkmacsystemfont,
  'Segoe UI',
  roboto,
  oxygen-sans,
  ubuntu,
  cantarell,
  'Helvetica Neue',
  sans-serif;

// Misc
$border-color: #ece5d9;
$border-radius--big: 24px;
$border-radius: 16px;
$border-radius--small: 6px;
$transition-timing: cubic-bezier(0.9, 0.01, 0.01, 1);
$transition-timing--linear: cubic-bezier(0.05, 0.85, 0.5, 1);
$transition-timing--alternate: cubic-bezier(0.075, 0.82, 0.165, 1);
