.s-doctor-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;
  border: 1px solid rgba($border-color, 0.25);
  overflow: hidden;
  background: $gradient;
  border-radius: $border-radius;

  &__cover {
    display: block;
    width: 100%;
    padding: 1.5rem 1.5rem 0;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      padding: 2.25rem 3rem 0;
    }
  }

  &__cover-wrap {
    position: relative;
    overflow: hidden;
    border-radius: 200px;
    z-index: 1;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
    }

    img {
      display: block;
      position: absolute;
      top: -10%;
      left: 0;
      width: 100%;
      height: 120%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__info {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    padding: 0 1rem 1.5rem;

    @include media-min-sm {
      padding: 0 2.25rem 2.25rem;
    }
  }

  &__about {
    padding-right: 1.5rem;
  }

  &__name {
    display: block;
    font-size: ms(0);
    line-height: 1.2em;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  &__direction {
    display: block;
    font-size: ms(-1);
    line-height: 1.4em;
    opacity: 0.75;
  }

  &__more {
    display: block;
    flex-shrink: 0;
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid $primary-color;
    overflow: hidden;
    background-color: transparent;
    border-radius: 50px;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate3d(-100%, 0, 0);
      transition: transform 0.5s $transition-timing--linear;
      background-color: $primary-color;
    }

    &:hover,
    &:focus {
      text-decoration: none;

      &::after {
        transform: translate3d(0, 0, 0);
      }

      .s-doctor-card__more-icon--default {
        transform: translate3d(50%, -50%, 0);
        opacity: 0;
      }

      .s-doctor-card__more-icon--hover {
        transform: translate3d(-50%, -50%, 0);
        opacity: 1;
      }
    }
  }

  &__more-icon {
    display: block;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transition:
      transform 0.5s $transition-timing--linear,
      opacity 0.25s $transition-timing--linear;

    svg {
      display: block;
    }

    &--default {
      transform: translate3d(-50%, -50%, 0);
      opacity: 1;
    }

    &--hover {
      transform: translate3d(-150%, -50%, 0);
      opacity: 0;
    }
  }
}
