mixin doctor-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-doctor-card--' + modsList[i].trim();
      }
    }

  .s-doctor-card(class=allMods)&attributes(attributes)
    a.s-doctor-card__cover(href='specialist.html')
      .s-doctor-card__cover-wrap
        img.rellax(src=props.photo, alt='', data-rellax-speed='-0.5', data-rellax-percentage='0.5')
    .s-doctor-card__info
      .s-doctor-card__about
        span.s-doctor-card__name!= props.name
        span.s-doctor-card__direction!= props.direction
      a.s-doctor-card__more(href='specialist.html')
        span.s-doctor-card__more-icon.s-doctor-card__more-icon--default
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 10', width='20', height='10')
            path(stroke='#292B22', stroke-width='1.25' stroke-linecap='round', stroke-linejoin='round', d='M19 5H1m14-4l4 4-4-4zm4 4l-4 4 4-4z')
        span.s-doctor-card__more-icon.s-doctor-card__more-icon--hover
          svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 10', width='20', height='10')
            path(stroke='#292B22', stroke-width='1.25' stroke-linecap='round', stroke-linejoin='round', d='M19 5H1m14-4l4 4-4-4zm4 4l-4 4 4-4z')