.s-to-top {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: $bg-color;
  border-radius: 50px;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.5s $transition-timing--linear;
    background-color: $primary-color;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    &::after {
      transform: translate3d(0, 0, 0);
    }

    .s-to-top__icon--default {
      transform: translate3d(-50%, -100%, 0);
      opacity: 0;
    }

    .s-to-top__icon--hover {
      transform: translate3d(-50%, -50%, 0);
      opacity: 1;
    }
  }

  &__icon {
    display: block;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transition:
      transform 0.5s $transition-timing--linear,
      opacity 0.25s $transition-timing--linear;

    svg {
      display: block;
    }

    &--default {
      transform: translate3d(-50%, -50%, 0);
      opacity: 1;
    }

    &--hover {
      transform: translate3d(-50%, 150%, 0);
      opacity: 0;
    }
  }
}
