mixin to-top(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-to-top--' + modsList[i].trim();
      }
    }

  a.s-to-top(href='/', class=allMods)&attributes(attributes)
    span.s-to-top__icon.s-to-top__icon--default
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 20', width='10', height='20')
        path(stroke='#292B22', stroke-width='1.25', stroke-linecap='round', stroke-linejoin='round', d='M5 1v18M.999999 5L5 1 .999999 5zM5 1l4 4-4-4z')
    span.s-to-top__icon.s-to-top__icon--hover
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 10 20', width='10', height='20')
        path(stroke='#292B22', stroke-width='1.25', stroke-linecap='round', stroke-linejoin='round', d='M5 1v18M.999999 5L5 1 .999999 5zM5 1l4 4-4-4z')