mixin form(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-form--' + modsList[i].trim();
      }
    }
  form.s-form(class=allMods)&attributes(attributes)
    block