.s-slider-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;

  @include media-min-sm {
    margin-top: 2.25rem;
  }

  .swiper-pagination-bullet {
    width: 16px;
    height: 4px;
    border-radius: 6px;
    background-color: $text-color;
    opacity: 0.25;
    transition: all 0.75s $transition-timing--linear;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  .swiper-pagination-bullet-active {
    width: 32px;
    height: 4px;
    border-radius: 6px;
    background-color: $primary-color;
    opacity: 1;
  }
}
