mixin doctors()

  .s-doctors
    .s-doctors__container
      .s-doctors__title Врачи
      +slider-nav().s-doctors__slider-nav
      .s-doctors__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              +doctor-card({
                photo: 'https://thumbnails.production.thenounproject.com/E72i82TKZcGxKeDFPrIuL_4-jc8=/fit-in/1000x1000/photos.production.thenounproject.com/photos/D7F2D16D-B525-4EFE-A471-FBF2D5CFF7ED.jpg',
                name: 'Кислый Павел Николаевич',
                direction: 'Ведущий специалист по нефрологии, заведующий отделением амбулаторного диализа'
              })
            .swiper-slide
              +doctor-card({
                photo: 'https://thumbnails.production.thenounproject.com/rsZ1qbMpQCsMsS4sm2C2wKt9ugg=/fit-in/1000x1000/photos.production.thenounproject.com/photos/7F4D698B-CFB0-426E-8EE5-60F8C3785904.jpg',
                name: 'Паршина Екатерина Викторовна',
                direction: 'Врач-нефролог, трансфузиолог отделения амбулаторного диализа'
              })
            .swiper-slide
              +doctor-card({
                photo: 'https://thumbnails.production.thenounproject.com/bhHW4Z7kZJQLLjOvb7ZvluvRlEk=/fit-in/1000x1000/photos.production.thenounproject.com/photos/2EE87579-2C0B-41B2-90F8-6B0F27730011.jpg',
                name: 'Толкач Алексей Дмитриевич',
                direction: 'Врач нефролог отделения амбулаторного диализа'
              })
            .swiper-slide
              +doctor-card({
                photo: 'https://thumbnails.production.thenounproject.com/BzC4Q_8axC8LOGN9US4Lto7LtD4=/fit-in/1000x1000/photos.production.thenounproject.com/photos/13A017D9-E8DF-4AE5-84DC-D6284C83B81F.jpg',
                name: 'Михайлова Светлана Станиславовна',
                direction: 'Врач - терапевт, врач нефролог травматологического отделения № '
              })
            .swiper-slide
              +doctor-card({
                photo: 'https://thumbnails.production.thenounproject.com/rsZ1qbMpQCsMsS4sm2C2wKt9ugg=/fit-in/1000x1000/photos.production.thenounproject.com/photos/7F4D698B-CFB0-426E-8EE5-60F8C3785904.jpg',
                name: 'Кислый Павел Николаевич',
                direction: 'Ведущий специалист по нефрологии, заведующий отделением амбулаторного диализа'
              })
            .swiper-slide
              +doctor-card({
                photo: 'https://thumbnails.production.thenounproject.com/bhHW4Z7kZJQLLjOvb7ZvluvRlEk=/fit-in/1000x1000/photos.production.thenounproject.com/photos/2EE87579-2C0B-41B2-90F8-6B0F27730011.jpg',
                name: 'Паршина Екатерина Викторовна',
                direction: 'Врач-нефролог, трансфузиолог отделения амбулаторного диализа'
              })
      +slider-progressbar().s-doctors__slider-progressbar